Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

handle out of order writes
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Temp
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Minor fix
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

More fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Minor changes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

More fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add support for setting numEpoch for each workload
  perfmetrics/scripts/testing_on_gke/examples/dlio/dlio_workload.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/dlio_workload_test.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/fio_workload.py
  perfmetrics/scripts/testing_on_gke/examples/fio/fio_workload_test.py
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/workloads.json
  perfmetrics/scripts/testing_on_gke/examples/workloads_test.json
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

More fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

More fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

More logging
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

More fixes
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Finishing touches
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Reduce range
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

poc changes
  go.mod
  go.sum
  internal/fs/fs.go
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

cache fix
  internal/gcsx/prefix_bucket.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-3hyog
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-9d9gp
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-u4f8f
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

remove unnecessary files
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-3hyog
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-9d9gp
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-u4f8f
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fix csv
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Make config reusable
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add per pid GCS reader and clean up
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add per pid GCS reader and clean up
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add per pid GCS reader and clean up
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

upgrade go sdk module
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

linux test fix
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added explanatory comments
  internal/storage/caching/fast_stat_bucket.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

add MoveObject in all the bucket layers
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/gcs/request.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove prefix bucket impementation and add it later
  internal/gcsx/prefix_bucket.go
  internal/storage/fake/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed the issue of not getting precondition error on second sync
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/stale_file_handle_local_file_test.go
  internal/gcsx/temp_file.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

minor fix
  internal/fs/fs_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/fs/inode/file.go
  internal/fs/stale_file_handle_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

updated checkInvariants method of inode to return if inode is unlinked
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

handle out of order writes (#2826)
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add comment
  internal/storage/gcs/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Integrating MoveObject in all the bucket layers (#2831)
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/gcs/request.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fake and prefix bucket implementation
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

changes bucket type
  internal/gcsx/prefix_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/storage/fake/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

not nil fix
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
