Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

test bash script on kokoro
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test bash script
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test bash script on kokoro
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/write_stalls/setup_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

nec changes
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/workloads.json
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fix lint
  internal/fs/fs_test.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/core_test.go
  internal/fs/inode/hns_dir_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

helper to start proxy server
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Update cfg/validate_test.go
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

resolve merge conflict
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Used utility function to check whether file cache is enabled
  cfg/validate.go
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

automate tests
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-master.cfg
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-release.cfg
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

helper to start proxy server
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fixing truncate
  internal/bufferedwrites/buffered_write_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enforce file cache availability for parallel downloads through config… (#2772)
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Update Flush call to return an object (#2770)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

file.go changes to fall back to temp file flow in case of error and sync changes
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fixes
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

provide execute permission to script
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

provide prot in function
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

provide prot in function
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Incorporate review comments.
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add comment
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove empty line
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Reuse method
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fio workload also
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/workloads.json
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

PR review comments
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix test
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

create const
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/hns_dir_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename variable
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add doc comment
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove redundunt line
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

using minimum of 10 mount operations to compare with threshold
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/list_large_dir/testFile.txt
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/list_large_dir/testFile.txt
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

increased threshold
  tools/integration_tests/mount_timeout/mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
