Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

formating
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

formating
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

formating
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Bucket handle integration (#2840)
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fs layer integration
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/hns_bucket_test.go
  internal/fs/inode/dir.go
  internal/storage/fake/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

formating fix
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fs layer integration
  internal/fs/fs_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

formating fix
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

undo unnecessary change
  internal/storage/fake/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

undo unnecessary change
  internal/storage/fake/bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add negative cache entry after deleting object/folderCache entry update (#2822)
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  tools/integration_tests/implicit_dir/local_file_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
  tools/integration_tests/util/operations/string_operations.go
  tools/integration_tests/util/setup/setup.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Added SetupSuite and TearDownSuite
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Update stale_file_handle_synced_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Updated Stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

refactored code
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename test function so common tests are also run
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add documentation
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename test function so common tests are also run (#2846)
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/run_tests_mounted_directory.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix (#2849)
  tools/integration_tests/run_tests_mounted_directory.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add troubleshooting guide about implicit dir (#2848)
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix typo
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix typo (#2851)
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Update tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/setup_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix flaky parellal dir ops test
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  tools/integration_tests/emulator_tests/emulator_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix rest of the tests
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix rest of the tests
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix rest of the tests
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Refactored code to to mounting ad unmounting in setup_test.go itself and moved commom parts of test to SetupTest
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Added a file that contains common tests of synced object and local inode
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

create common function
  tools/integration_tests/operations/parallel_dirops_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Optimize with using WithAttributeSet
  common/oc_metrics.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
