Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

review comment
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fix emulator based kokoro tests (#2799)
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Incorporate review comments.
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add more e2e tests
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix tests
  tools/integration_tests/emulator_tests/proxy-vesuy
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove proxy log
  tools/integration_tests/emulator_tests/proxy-vesuy
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

use min object in buffered writes (#2795)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/fake/fake_object_writer.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Compute OTel metrics (#2744)
  cmd/legacy_main.go
  common/oc_metrics.go
  common/otel_metrics.go
  common/telemetry.go
  internal/monitor/otelexporters.go
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/setup/setup.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Truncate handling
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing truncate
  internal/bufferedwrites/buffered_write_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added comment
  internal/bufferedwrites/buffered_write_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

PR review comments
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

PR review comments
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Handling truncate in buffered writes flow (#2775)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update readme
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Dependency Upgrade for crypto CVE
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Dependency upgrade Crypto for CVE
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test
  .gitignore
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add vendor
  vendor/google.golang.org/api/internal/gensupport/resumable.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Dependency upgrade Crypto for CVE
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Lock bundler version
  tools/package_gcsfuse_docker/Dockerfile
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename ttl to primaryCacheTTL to clearly distinguish from negative cache
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adds new field for negative cache ttl
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds documentation for stat cache TTLs
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

use new ttl for negative cache expiration
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

renames ttl to primaryCacheTTL in unit tests
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

allow buffered writes to create writer for empty object
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/request_helper.go
  internal/gcsx/request_helper_test.go
  internal/gcsx/syncer.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

refactors unit test for negative cache ttl
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update readme
  logs-emulator.txt
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/proxy-3v8qu
  tools/integration_tests/emulator_tests/proxy-3z674
  tools/integration_tests/emulator_tests/proxy-8rx4k
  tools/integration_tests/emulator_tests/proxy-i6iy7
  tools/integration_tests/emulator_tests/proxy-w5uru
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

update readme
  tools/integration_tests/emulator_tests/proxy-3v8qu
  tools/integration_tests/emulator_tests/proxy-3z674
  tools/integration_tests/emulator_tests/proxy-8rx4k
  tools/integration_tests/emulator_tests/proxy-i6iy7
  tools/integration_tests/emulator_tests/proxy-w5uru
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

changes to run the externally published benchmarks in gke test pipeline
  cmd.sh
  perfmetrics/scripts/job_files/externally_published_job_file.fio
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/workloads.json
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

remove log file
  logs-emulator.txt
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/local_modifications_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/syncer.go
  internal/storage/gcs/request_helper.go
  internal/storage/gcs/request_helper_test.go
  tools/integration_tests/operations/write_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

passes negative cache ttl from bucket manager
  internal/fs/caching_test.go
  internal/gcsx/bucket_manager.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Lock bundler version (#2812)
  tools/package_gcsfuse_docker/Dockerfile
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adds Negative stat ttl config in Bucket Config
  internal/gcsx/bucket_manager.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

passes negative stat cache ttl in setup bucket
  cmd/mount.go
  internal/gcsx/bucket_manager.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds config for negative metadata cache ttl
  cfg/config.go
  cmd/mount.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
