Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

bucket reader cache
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

bucket reader cache
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[gke-automated-test-tool] fix bug in csi driver build (#2819)
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add entry into negative cache on deletion of object/folder
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add 6.10+ to unsupported versions
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed list directory test by disabling stat cache
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add 6.10+ to unsupported versions (#2820)
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Write stall] CD pipeline integration (#2817)
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fixes
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase changes
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

file.go changes to fall back to temp file flow in case of error and sync changes
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix flush for upload failure scenario
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix flush for upload failure scenario
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary comment
  internal/fs/streaming_writes_empty_object_test.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add negative cache entry on deletion
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding comment
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary change
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add remaining changes
  internal/storage/caching/fast_stat_bucket_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Registering and deregistering.
  internal/fs/fs.go
  internal/fs/handle/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

ADDED COMMENTS
  internal/fs/fs.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

optimize the logic
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Update troubleshooting.md
  docs/troubleshooting.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added TODO
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[Write-stall] Add e2e tests - 2 (#2798)
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Modify Sync and Unlink of FileInode so that Inode content is destroyed in these flows.
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/gcsx/temp_file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bucket reader
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add move object
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/gcs/request.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fs integration
  internal/fs/fs.go
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

method changes
  internal/storage/bucket_handle.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Initial commit
  benchmarks/tensorstore/main.go
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
