Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

throw error upload failure
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename tests
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/setup_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Move const MinimumAlignSizeForWriting from cacheutil to cfg constants.
  cfg/constants.go
  cfg/validate.go
  internal/cache/file/downloader/job.go
  internal/cache/util/util.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename tests
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fixing conflicts
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing nil assert
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

not nil fix
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Handle read
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update Flush call to return an object
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

throw error upload failure (#2768)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add log
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Enforce file cache availability for parallel downloads through config validation
  cfg/validate.go
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

renamed contant name
  cfg/constants.go
  cfg/validate.go
  coverage.out
  internal/cache/util/util.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Used const CacheUtilMinimumAlignSizeForWriting which was previously unused
  cfg/validate.go
  coverage.out
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

changed error formatting
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cfg/validate_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Move const MinimumAlignSizeForWriting from cache/util to cfg/constants. (#2771)
  cfg/constants.go
  cfg/validate.go
  internal/cache/file/downloader/job.go
  internal/cache/util/util.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

map storage.ErrObjectNotExist in NewReader method to gcs.NotFoundError
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Implemented code changes to give clobbered error while syncing object to prevent silent data loss
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed lint
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added composite tests for Improve Write Failure Experience Project
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed lint
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed lint
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

updated flags
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Removed global err variable
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Removed global err variable
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Used testify framework for testing and refactored code.
  internal/fs/stale_file_handle_test.go
  internal/storage/storageutil/delete_object.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/validation_helper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Formatted tests according to AAA.
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Minor fixes
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add unit tests
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update valid config yaml to disable parallel download
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add unit tests
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  cfg/validate.go
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/proxy_server/main_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
