Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

Added requisite import
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Amend code to match with the latest commit changes
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added t.TearDownTestSuite()
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

WIP
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add chunk transfer timeout change
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/downloader_test.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/gcsx/bucket_manager.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Cleanup
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Prevent unit test failure due to flag parse (#2764)
  tools/integration_tests/emulator_tests/proxy_server/main_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix broken tests
  cfg/validate.go
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Created two test suites.
  internal/fs/stale_file_handle_local_file_test.go
  internal/fs/stale_file_handle_synced_file_test.go
  internal/fs/stale_file_handle_test.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/readonly/create_object_test.go
  tools/integration_tests/readonly/delete_object_test.go
  tools/integration_tests/readonly/rename_object_test.go
  tools/integration_tests/readonly/write_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/validation_helper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

[Write-stall] Create chunk transfer timeout flag (#2755)
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Truncate handling
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added comment
  internal/bufferedwrites/buffered_write_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add hidden flag
  cfg/params.yaml
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add chunk transfer timeout flag with default 10s value
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  cfg/params.yaml
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove redudunt line
  cfg/params.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix validation
  cfg/validate.go
  perfmetrics/scripts/build_and_install_gcsfuse.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

remove redudunt changes
  perfmetrics/scripts/build_and_install_gcsfuse.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/config_validation_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cfg/params.yaml
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cfg/validate_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove from write config and add it in gcs retries
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add unit tests
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove coverage file
  coverage.out
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  cmd/mount.go
  coverage.out
  internal/gcsx/append_object_creator.go
  internal/gcsx/append_object_creator_test.go
  internal/gcsx/bucket_manager.go
  internal/gcsx/integration_test.go
  internal/gcsx/syncer.go
  internal/gcsx/syncer_bucket.go
  internal/gcsx/syncer_test.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  internal/gcsx/append_object_creator.go
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove coverage file
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove coverage file
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tetss
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

update unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

linux test fix
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
