Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

ADDED COMMENTS
  internal/fs/fs.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

storing fileHandle open semantics
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Registering and deregistering.
  internal/fs/fs.go
  internal/fs/handle/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added unit tests for fileInode
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing nil assert
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing conflicts
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing panic
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing tests
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests by adding a random directory
  tools/integration_tests/implicit_dir/local_file_test.go
  tools/integration_tests/util/operations/string_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests by adding a random directory
  tools/integration_tests/implicit_dir/local_file_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Rename dirName variable
  tools/integration_tests/implicit_dir/local_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fixed failing composite test
  internal/fs/inode/file.go
  internal/fs/stale_file_handle_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enable profile
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  internal/fs/inode/file.go
  internal/fs/stale_file_handle_synced_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix issue
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  internal/gcsx/prefix_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

using unnecessary variables
  internal/gcsx/prefix_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

using testify
  internal/gcsx/prefix_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nit
  internal/gcsx/prefix_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fast stat bucket implementation
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/storage/caching/fast_stat_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Fake and Prefix bucket implementation (#2834)
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds defaultvalue for negative cache ttl as 5
  cfg/config.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds negative cache ttl in params.yml
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

PR comment
  internal/fs/handle/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Support creting fio test data using gcsfuse
  perfmetrics/scripts/testing_on_gke/examples/fio/data-loader/templates/fio-data-loader.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/data-loader/values.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Adds support for preprod gcloud in fio data-loader
  perfmetrics/scripts/testing_on_gke/examples/fio/data-loader/templates/fio-data-loader.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/data-loader/values.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/inode/inode.go
  internal/fs/inode/symlink.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/streaming_writes_empty_object_test.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary comment
  internal/fs/streaming_writes_empty_object_test.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

set bwh to nil
  internal/fs/inode/file.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase fixes
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

unlink changes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/streaming_writes_empty_object_test.go
  internal/fs/streaming_writes_local_file_test.go
  tools/integration_tests/util/operations/validation_helper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fix test
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Setting bwh to nil after all fileHandles are closed (#2823)
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Trying with optimized binary
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enable -O3 optimization
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Write-stall] Add e2e tests - 2 (#2798)
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

skip kernel list cache test for unsupported kernel version (#2814)
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  tools/integration_tests/util/operations/operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

[Write stall] CD pipeline integration (#2817)
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
