Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebasing
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/cloud.google.com/go/storage/client.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/writer.go
  vendor/google.golang.org/api/googleapi/googleapi.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  .gitignore
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update poc according to comments
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
  vendor/google.golang.org/api/internal/gensupport/send.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  vendor/google.golang.org/api/internal/gensupport/resumable.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/google.golang.org/api/internal/gensupport/send.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary files
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

unnecessary change
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add bash script and readme
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
  tools/integration_tests/emulator_tests/sponge_log.out
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

undo unnecessary changes
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary files
  coverage.out
  tools/integration_tests/emulator_tests/README.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

undo unnecessary changes
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/write_stalls/setup_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add e2e tests
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/setup_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config_test.go
  tools/integration_tests/emulator_tests/proxy_server/emulator_test.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  coverage.out
  internal/storage/storageutil/user_agent_round_tripper.go
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
  tools/integration_tests/emulator_tests/setup_test.go
  tools/integration_tests/emulator_tests/sponge_log.out
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

lint fix
  tools/integration_tests/emulator_tests/proxy_server/emulator.go
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
  tools/integration_tests/emulator_tests/sponge_log.out
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary files
  tools/integration_tests/emulator_tests/README.md
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add e2e tests
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-master.cfg
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-release.cfg
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/proxy.log
  tools/integration_tests/emulator_tests/write_stalls/proxyon029
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add bash script and readme
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
  tools/integration_tests/emulator_tests/sponge_log.out
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary files
  internal/storage/storageutil/user_agent_round_tripper.go
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/emulator.go
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
  tools/integration_tests/emulator_tests/sponge_log.out
  tools/integration_tests/emulator_tests/test.json
  tools/integration_tests/emulator_tests/write_stalls/proxy.log
  tools/integration_tests/emulator_tests/write_stalls/proxyon029
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

test
  tools/integration_tests/emulator_tests/proxy_server/config_test.go
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/proxy_server/emulator_test.go
  tools/integration_tests/emulator_tests/proxy_server/nohup.out
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
  tools/integration_tests/emulator_tests/setup_test.go
  tools/integration_tests/emulator_tests/sponge_log.out
  tools/integration_tests/emulator_tests/test.json
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

make script executable
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename tests
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test bash script
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename tests
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/setup_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test bash script on kokoro
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add log
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
