Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

supports -1 in negative cache ttl
  cfg/rationalize.go
  cfg/rationalize_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix for -1 value support in negative cache
  cfg/constants.go
  cfg/rationalize.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add vendor
  perfmetrics/scripts/build_and_install_gcsfuse.sh
  vendor/cloud.google.com/go/storage/http_client.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

skip kernel list cache test for unsupported kernel version
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  tools/integration_tests/util/operations/operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

adds validation for error values in negative cache ttl
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds validation and defaultvalue for negative cache ttl
  cfg/config.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Lock bundler version (#2812)
  tools/package_gcsfuse_docker/Dockerfile
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename ResolveCreateObjectRequest to NewCreateObjectRequest
  internal/bufferedwrites/upload_handler.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/syncer.go
  internal/storage/gcs/request_helper.go
  internal/storage/gcs/request_helper_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix flaky test
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Allow upload handler to create chunk writer for empty synced object (#2797)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/local_modifications_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/syncer.go
  internal/storage/gcs/request_helper.go
  internal/storage/gcs/request_helper_test.go
  tools/integration_tests/operations/write_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fixing nil assert
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

not nil fix
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing conflicts
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

storing fileHandle open semantics
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added unit tests for fileInode
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add sudo codes
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

increasing thresholds for delete and stat benchmark failure
  tools/integration_tests/benchmarking/benchmark_delete_test.go
  tools/integration_tests/benchmarking/benchmark_stat_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

skip kernel list cache test for unsupported kernel version (#2814)
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  tools/integration_tests/util/operations/operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fix make command
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/logger/logger.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/operations.go
  tools/prefetch_cache_gcsfuse/prefetch.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

update e2e tests in cd pipeline
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

unlink changes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/streaming_writes_empty_object_test.go
  internal/fs/streaming_writes_local_file_test.go
  tools/integration_tests/util/operations/validation_helper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

set bwh to nil
  internal/fs/inode/file.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix test
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update steps
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase fixes
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  internal/cache/file/downloader/job_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix make command (#2815)
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/logger/logger.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/operations.go
  tools/prefetch_cache_gcsfuse/prefetch.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

add some installation
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

move it appropriate place
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

replacing od type
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding sudo while running docker
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Create a new custom-driver hash on each build
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[gke-automated-test-tool] Create a new custom-driver hash on each build (#2818)
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding sudo while running docker
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix bug in csi driver build
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

bucket reader cache
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

bucket reader cache
  internal/gcsx/random_reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
