Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

Updated flag name and usage
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add a private flag to throw clobbered error messages (#2710)
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

increasing integration test timeout
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fixed failing integration tests.
  tools/integration_tests/local_file/sym_link_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Improved code quality
  internal/fs/gcsfuse_errors/gcsfuse_errors_test.go
  internal/fs/inode/file.go
  internal/fs/wrappers/error_mapping.go
  internal/storage/fake/testing/bucket_tests.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Implemeted code changes to give clobbered error while syncing object to prevent silent data loss.
  internal/fs/fs.go
  internal/fs/gcsfuse_errors/gcsfuse_errors.go
  internal/fs/gcsfuse_errors/gcsfuse_errors_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/local_file_test.go
  internal/fs/local_modifications_test.go
  internal/fs/wrappers/error_mapping.go
  internal/fs/wrappers/error_mapping_test.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_test.go
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/read_dir_test.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/sym_link_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Improved code quality
  internal/fs/gcsfuse_errors/gcsfuse_errors_test.go
  internal/fs/inode/file.go
  internal/fs/wrappers/error_mapping.go
  internal/storage/fake/testing/bucket_tests.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enabling grpc testing for relevant integration test packages (#2713)
  tools/integration_tests/log_content/log_content_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
  tools/integration_tests/read_large_files/read_large_files_test.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  internal/fs/inode/file.go
  internal/fs/wrappers/error_mapping_test.go
  internal/storage/fake/bucket.go
  internal/storage/fake/testing/bucket_tests.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adding unit test for direct path detector initialization
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Remove cmd tests.
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/datatypes_parsing_test.go
  cmd/legacy_main_test.go
  cmd/mount_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added http2 direct path detector nil unit test case
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Upgrade deps (#2711)
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

simplifying testcase
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Move version test to integration test.
  tools/build_gcsfuse/main_test.go
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add proxy serevr setup
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/config.go
  tools/integration_tests/emulator_tests/configs/sample_config.yaml
  tools/integration_tests/emulator_tests/emulator_test.sh
  tools/integration_tests/emulator_tests/main.go
  tools/integration_tests/emulator_tests/operation_manager.go
  tools/integration_tests/emulator_tests/operation_manager_test.go
  tools/integration_tests/emulator_tests/request_mapper.go
  tools/integration_tests/emulator_tests/util/emulator.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

nits
  tools/integration_tests/emulator_tests/config.go
  tools/integration_tests/emulator_tests/configs/sample_config.yaml
  tools/integration_tests/emulator_tests/emulator_test.sh
  tools/integration_tests/emulator_tests/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/main.go
  tools/integration_tests/emulator_tests/operation_manager.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding unit test for direct path detector functionality (#2715)
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added composite tests for changes made
  internal/fs/fs_test.go
  internal/fs/local_file_test.go
  internal/fs/local_modifications_test.go
  internal/fs/server.go
  internal/fs/stale_handle_test.go
  internal/fs/wrappers/error_mapping.go
  internal/fs/wrappers/error_mapping_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Move version test to integration test. (#2716)
  tools/build_gcsfuse/main_test.go
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove error from ops_error_count metric labels.
  docs/metrics.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Remove error from ops_error_count metric labels. (#2719)
  docs/metrics.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  internal/fs/wrappers/error_mapping.go
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/read_dir_test.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fixed errors
  internal/fs/fs_test.go
  internal/fs/stale_handle_test.go
  internal/fs/wrappers/error_mapping_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

optimization
  tools/integration_tests/emulator_tests/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary failure handling cases
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_buffered_writes_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

handle error in uploader go routine
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_buffered_writes_test.go
  internal/storage/mock/mock_writer.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove finalize in case of error in uploader go routine - will be done in file inode
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added composite test
  internal/fs/fs_test.go
  internal/fs/stale_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/operation_manager.go
  tools/integration_tests/emulator_tests/util/emulator.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/README.md
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

unset the precondition flag until feature is complete
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Upgrade deps (#2711)
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adding unit test for direct path detector functionality (#2715)
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Remove error from ops_error_count metric labels. (#2719)
  docs/metrics.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Move version test to integration test. (#2716)
  tools/build_gcsfuse/main_test.go
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
