Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

Fixing read for bufferedwrites and handling it for empty GCS File (#2769)
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Increasing mount timeout threshold and taking minimum of 10 iterations (#2780)
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
  tools/integration_tests/mount_timeout/mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove comment
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove comment
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix: Retry gRPC UNAUTHENTICATED errors like 401s.
  internal/storage/storageutil/custom_retry.go
  internal/storage/storageutil/custom_retry_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Updated go-land version from 1.23.3 to 1.23.4
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

review comment
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/proxy-1to5d
  tools/integration_tests/emulator_tests/write_stalls/proxy-59zhn
  tools/integration_tests/emulator_tests/write_stalls/proxy-ed2wu
  tools/integration_tests/emulator_tests/write_stalls/proxy-evlte
  tools/integration_tests/emulator_tests/write_stalls/proxy-fpv1v
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary files
  tools/integration_tests/emulator_tests/write_stalls/proxy-1to5d
  tools/integration_tests/emulator_tests/write_stalls/proxy-59zhn
  tools/integration_tests/emulator_tests/write_stalls/proxy-ed2wu
  tools/integration_tests/emulator_tests/write_stalls/proxy-evlte
  tools/integration_tests/emulator_tests/write_stalls/proxy-fpv1v
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

removing port from argument as not require for now
  tools/integration_tests/emulator_tests/util/test_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[Emulator tests] Automate tests in kokoro and add helper to run proxy server (#2777)
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-master.cfg
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-release.cfg
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove Version test
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove unused method
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fix formatting
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove Version test (#2785)
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove Version test (#2785)
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Remove Version test (#2785) (#2786)
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

skip mount timeout test
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

skip mount timeout test (#2787)
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[Write-stall] Set chunk transfer timeout to writer (#2776)
  cmd/mount.go
  internal/fs/fs_test.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/core_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/hns_dir_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/append_object_creator_test.go
  internal/gcsx/bucket_manager.go
  internal/gcsx/integration_test.go
  internal/gcsx/syncer.go
  internal/gcsx/syncer_bucket.go
  internal/gcsx/syncer_test.go
  internal/storage/bucket_handle.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

automate tests
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

linux test fix
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebasing
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

update unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/google.golang.org/api/internal/gensupport/send.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update poc according to comments
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
  vendor/google.golang.org/api/internal/gensupport/send.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  .gitignore
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  vendor/google.golang.org/api/internal/gensupport/resumable.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/cloud.google.com/go/storage/client.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/writer.go
  vendor/google.golang.org/api/googleapi/googleapi.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
