Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

Remove two arrays from e2e test script (#2635)
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Dependabot prs (#2639)
  go.mod
  go.sum
  perfmetrics/scripts/load_tests/python/requirements.txt
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Handle SIGTERM to gracefully unmount
  cfg/config.go
  cfg/params.yaml
  cmd/legacy_main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Replace with unix
  internal/fs/wrappers/monitoring.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Testin
  internal/cache/file/downloader/job.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Workaround for grpc direct-path issue
  internal/storage/storage_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add package build tetss
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary comment
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

testing failure
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary comment
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add label automated tests for package building (#2642)
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add custom workloads and restart run script
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_1.yaml
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_2.yaml
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_3.yaml
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_4.yaml
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_5.yaml
  perfmetrics/scripts/testing_on_gke/examples/parallel_downloads/workload_part_6.yaml
  perfmetrics/scripts/testing_on_gke/examples/run_tests_with_restart.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Migrate to OTel
  cmd/legacy_main.go
  common/common.go
  go.mod
  go.sum
  internal/fs/wrappers/monitoring.go
  internal/monitor/bucket.go
  internal/monitor/exporter.go
  internal/monitor/otelexporters.go
  internal/monitor/reader.go
  internal/monitor/units.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

temp
  flaky_tests.lst
  internal/fs/parallel_dirops_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

temp
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add metrics-export-interval-secs flag
  cfg/config.go
  cfg/params.yaml
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/legacy_main.go
  cmd/root_test.go
  cmd/testdata/invalid_metrics_config_both_set.yaml
  cmd/testdata/invalid_metrics_config_neg.yaml
  cmd/testdata/metrics_cfg/metrics_export_interval_positive.yml
  cmd/testdata/metrics_cfg/stackdriver_export_interval_positive.yml
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add enable-otel flag
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
  cmd/testdata/metrics_config/empty.yml
  cmd/testdata/metrics_config/enable_otel_false.yml
  cmd/testdata/metrics_config/enable_otel_true.yml
  cmd/testdata/metrics_config/metrics_export_interval_positive.yml
  cmd/testdata/metrics_config/stackdriver_export_interval_positive.yml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Refactor OC metrics
  internal/fs/wrappers/monitoring.go
  internal/monitor/bucket.go
  internal/monitor/reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Refactor OpenCensus exporter initialization
  cmd/legacy_main.go
  common/telemetry.go
  internal/monitor/exporter.go
  internal/monitor/traceexporter.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: upgrade go-stroage from 1.45.0 to .146.0
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

WIP commit to setup SDKs
  cmd/legacy_main.go
  go.mod
  go.sum
  internal/monitor/otelexporters.go
  internal/monitor/traceexporter.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add cloud-metrics-export-interval-secs flag
  cfg/config.go
  cfg/params.yaml
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/legacy_main.go
  cmd/root_test.go
  cmd/testdata/invalid_metrics_config_both_set.yaml
  cmd/testdata/metrics_config/metrics_export_interval_positive.yml
  cmd/testdata/metrics_config/stackdriver_export_interval_positive.yml
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: upgrade go-stroage from 1.45.0 to .146.0 (#2646)
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Use os.Interrupt instead of unix.SIGINT
  cfg/config.go
  cfg/params.yaml
  cmd/legacy_main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Rename OC metrics
  internal/fs/wrappers/monitoring.go
  internal/monitor/bucket.go
  internal/monitor/reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Handle SIGTERM to gracefully unmount (#2641)
  cfg/config.go
  cfg/params.yaml
  cmd/legacy_main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Rename OC metrics (#2648)
  internal/fs/wrappers/monitoring.go
  internal/monitor/bucket.go
  internal/monitor/reader.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix test
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds pseudo code for MRR unit test
  internal/storage/BucketHandleInterface.go
  internal/storage/MRRTest.go
  internal/storage/bucket_handle.go
  internal/storage/storage_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix test (#2649)
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

uses different block sizes
  perfmetrics/scripts/job_files/seq_rand_read_write.fio
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Enabling read-stall-retry by default with best default
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

uses different block sizes
  internal/gcsx/random_reader.go
  perfmetrics/scripts/job_files/seq_rand_read_write.fio
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Add cloud-metrics-export-interval-secs flag (#2647)
  cfg/config.go
  cfg/params.yaml
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/legacy_main.go
  cmd/root_test.go
  cmd/testdata/invalid_metrics_config_both_set.yaml
  cmd/testdata/metrics_config/metrics_export_interval_positive.yml
  cmd/testdata/metrics_config/stackdriver_export_interval_positive.yml
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enabling read-stall-retry by default with best default (#2650)
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add enable-otel flag
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
  cmd/testdata/metrics_config/empty.yml
  cmd/testdata/metrics_config/enable_otel_false.yml
  cmd/testdata/metrics_config/enable_otel_true.yml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add comment
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
  cmd/testdata/metrics_config/empty.yml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Print FS Test start and end
  internal/fs/fs_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: enabling existing e2e test for gRPC
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/build.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fetcing only selected attributes while listing
  internal/storage/bucket_handle.go
  internal/storage/fake/testing/bucket_tests.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
