Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

Adding tests
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add OTel test
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add view
  internal/monitor/otelexporters.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add changes to verify port is open
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add to non-parallel tests
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  tools/integration_tests/emulator_tests/README.md
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  tools/integration_tests/emulator_tests/README.md
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  tools/integration_tests/emulator_tests/proxy_server/main.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[testing-on-gke] Add ports, activeDeadlineSeconds on fio/dlio workloads (#2750)
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

address some more self-review comments
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Support exporting outputs to gsheet
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/utils/parse_logs_common.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

address a self-review comment
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet_test.py
  perfmetrics/scripts/testing_on_gke/examples/utils/utils.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix bug in gsheet utility code
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

address self-review comments
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add gsheet utilities
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet_test.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix gsheet unit tests
  perfmetrics/scripts/testing_on_gke/examples/dlio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/fio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet.py
  perfmetrics/scripts/testing_on_gke/examples/utils/gsheet_test.py
  perfmetrics/scripts/testing_on_gke/examples/utils/parse_logs_common.py
  perfmetrics/scripts/testing_on_gke/examples/utils/run_tests_common.py
  perfmetrics/scripts/testing_on_gke/examples/utils/utils.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

expose force_update_gcsfuse_code
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[testing-on-gke] Switch default branch to master
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add some useful comments
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Replace mash with monitoring-api everywhere
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/utils/utils.py
  perfmetrics/scripts/testing_on_gke/examples/utils/utils_test.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix some var names
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/utils/utils_test.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add try-catch for exception during parsing
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename some utilities
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

address some self-review comments
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/utils/parse_logs_common.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

logs are printed only in case of failure so removed conditional logs
  tools/integration_tests/list_large_dir/testdata/delete_objects.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixed formatting
  internal/fs/stale_file_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add hidden flag
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add chunk transfer timeout flag with default 10s value
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  cfg/config.go
  cfg/params.yaml
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove redudunt line
  cfg/params.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix validation
  cfg/validate.go
  perfmetrics/scripts/build_and_install_gcsfuse.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

remove redudunt changes
  perfmetrics/scripts/build_and_install_gcsfuse.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/config_validation_test.go
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cfg/validate.go
  cfg/validate_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nit fix
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
