Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

Allow upload handler to create chunk writer for empty synced object (#2797)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/local_modifications_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/syncer.go
  internal/storage/gcs/request_helper.go
  internal/storage/gcs/request_helper_test.go
  tools/integration_tests/operations/write_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

[gke-automated-test-tool] Create a new custom-driver hash on each build (#2818)
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix make command (#2815)
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/logger/logger.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/operations.go
  tools/prefetch_cache_gcsfuse/prefetch.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Lock bundler version (#2812)
  tools/package_gcsfuse_docker/Dockerfile
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

[gke-automated-test-tool] fix bug in csi driver build (#2819)
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add 6.10+ to unsupported versions (#2820)
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Setting bwh to nil after all fileHandles are closed (#2823)
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Integrating MoveObject in all the bucket layers (#2831)
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/gcs/request.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

handle out of order writes (#2826)
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Fake and Prefix bucket implementation (#2834)
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/request.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Remove cpu_profile
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix error
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Upgrade go sdk module - v1.49.0 (#2830)
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Parse flags
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

throwing gcs.precondition error in case rpc code 9
  internal/storage/bucket_handle.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

indentations
  internal/storage/bucket_handle.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

added destroy method
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds new field for negative cache ttl
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

rename ttl to primaryCacheTTL to clearly distinguish from negative cache
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

passes negative stat cache ttl in setup bucket
  cmd/mount.go
  internal/gcsx/bucket_manager.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds validation and defaultvalue for negative cache ttl
  cfg/config.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

renames ttl to primaryCacheTTL in unit tests
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

use new ttl for negative cache expiration
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix for -1 value support in negative cache
  cfg/constants.go
  cfg/rationalize.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds defaultvalue for negative cache ttl as 5
  cfg/config.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

passes negative cache ttl from bucket manager
  internal/fs/caching_test.go
  internal/gcsx/bucket_manager.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds Negative stat ttl config in Bucket Config
  internal/gcsx/bucket_manager.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds validation for error values in negative cache ttl
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

refactors unit test for negative cache ttl
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds config for negative metadata cache ttl
  cfg/config.go
  cmd/mount.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds negative cache ttl in params.yml
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adds documentation for stat cache TTLs
  internal/storage/caching/fast_stat_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

supports -1 in negative cache ttl
  cfg/rationalize.go
  cfg/rationalize_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

lint fix
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added destroy method
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixes
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixes
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix: Handle gRPC precondition failures while creating object (#2838)
  internal/storage/bucket_handle.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

[Move object] Fast stat bucket implementation (#2835)
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
