Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

separating list and stat request
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

update unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

linux test fix
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebasing
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rebase
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  vendor/google.golang.org/api/internal/gensupport/resumable.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/cloud.google.com/go/storage/client.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/writer.go
  vendor/google.golang.org/api/googleapi/googleapi.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove print
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update poc according to comments
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/google.golang.org/api/internal/gensupport/media.go
  vendor/google.golang.org/api/internal/gensupport/resumable.go
  vendor/google.golang.org/api/internal/gensupport/retry.go
  vendor/google.golang.org/api/internal/gensupport/send.go
  vendor/google.golang.org/api/storage/v1/storage-gen.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  vendor/google.golang.org/api/internal/gensupport/send.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test
  .gitignore
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Attempting to fix tests
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

logs are printed only in case of failure so removed conditional logs (#2754)
  tools/integration_tests/list_large_dir/testdata/delete_objects.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix review comments
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

remove unnecessary changes
  internal/storage/bucket_handle.go
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove unnecessary changes
  internal/storage/storageutil/user_agent_round_tripper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  cmd/testdata/valid_config.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fix unit tests
  cfg/validate.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix IT
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Rename import
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Refactor
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/util/setup/setup.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove ignore integration test command
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

remove ignore integration test command
  tools/integration_tests/emulator_tests/proxy_server/config_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

prevent unit test failure due to flag parse
  tools/integration_tests/emulator_tests/proxy_server/main_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Changing test framework
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Cleanup
  common/oc_metrics.go
  common/otel_metrics.go
  internal/monitor/otelexporters.go
  tools/integration_tests/monitoring/prom_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fixing nil assert
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

not nil fix
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Emulator tests] Adding bash script run emulator based tests (#2752)
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

update unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

linux test fix
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add unit tests
  tools/integration_tests/emulator_tests/proxy_server/testdata/config.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
