Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fs level integration with flag
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  tools/integration_tests/operations/operations_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

pass flag in composite tests
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Avoiding nested panic while lookUpLocalFileInode (#2869)
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Delete tools/integration_tests/emulator_tests/proxy-od8hc
  tools/integration_tests/emulator_tests/proxy-od8hc
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Testing with KVStore
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Updated validation_helper.go to fetch error message from syscall.ESTALE and then match it with actual error.
  tools/integration_tests/util/operations/validation_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Don't remove dirs.
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix command
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Remove max_in_flight
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add more tests
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix semaphore acquire/release when block is created without acquiring global block semaphore
  internal/block/block_pool.go
  internal/block/block_pool_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add e2e test
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fix invocation
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests for HNS
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Escape
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests for HNS
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests for HNS
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests for HNS
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Updated validation_helper.go to fetch error message from syscall.ESTALE and then match it with actual error. (#2872)
  tools/integration_tests/util/operations/validation_helper.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Set the precondition-errors flag to default true as feature is complete. (#2867)
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/read_dir_test.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Fix all issues
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fixed tests for HNS
  internal/fs/caching_test.go
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Fix issues
  benchmarks/tensorstore/main.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  cmd/config_validation_test.go
  cmd/root_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Enable Prometheus
  cfg/config.go
  cfg/params.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-ou9ja
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/operations/rename_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test fix
  tools/integration_tests/operations/gcsfuse-failed-integration-test-logs-ou9ja
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/block/block_pool.go
  internal/block/block_pool_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

refactoring
  internal/block/block_pool_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  tools/integration_tests/operations/move_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

add comment
  tools/integration_tests/operations/move_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/fs/hns_bucket_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Disable write back cache when streaming writes are enabled (#2858)
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/mount.go
  cmd/root_test.go
  internal/util/util.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Reduce number of iterations for flake-detector
  .github/workflows/flake-detector.yml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] fs layer changes (#2871)
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/operations/rename_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Handle global max blocks semaphore properly (#2860)
  internal/block/block_pool.go
  internal/block/block_pool_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
