Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

using setup function
  tools/integration_tests/concurrent_operations/setup_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

enabling grpc for concurrent operations test (#2671)
  tools/integration_tests/concurrent_operations/setup_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add coding guidelines for external contributions
  CONTRIBUTING.md
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

format changes
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adding delete file benchmark
  tools/integration_tests/benchmarking/benchmark_delete_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

creating files beforehand
  tools/integration_tests/benchmarking/benchmark_delete_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding license
  tools/integration_tests/benchmarking/benchmark_delete_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Modified Fs operations to support streaming writes (#2668)
  internal/block/block_pool.go
  internal/block/block_pool_test.go
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Add error logs for unsupported directories
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

correct logging
  internal/storage/bucket_handle.go
  internal/storage/debug_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nit
  tools/integration_tests/benchmarking/benchmark_delete_test.go
  tools/integration_tests/benchmarking/benchmark_stat_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

benchmark tests for delete file (#2684)
  tools/integration_tests/benchmarking/benchmark_delete_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add error logs for unsupported directories (#2683)
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

temp commit
  internal/block/block_pool.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/mock_writer.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

new implementation
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

revert buffered write handler changes
  internal/bufferedwrites/buffered_write_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

change to require in unit tests where required
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

change finalize to create a writer
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

header fixes
  internal/bufferedwrites/mock_writer.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/block/block_pool.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/storage/bucket_handle.go
  internal/storage/debug_bucket.go
  internal/storage/mock/mock_writer.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

dummy do not merge
  tools/integration_tests/mounting/gcsfuse_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Coding guidelines for external contributions (#2634)
  CONTRIBUTING.md
  docs/dev_guide.md
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

upgrading go sdk version from 1.46.0 to 1.47.0
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: upgrading go-lang from 1.23.2 to 1.23.3
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Go dependency version bump
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: upgrading go-lang from 1.23.2 to 1.23.3 (#2688)
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

unit tests
  internal/block/block_pool.go
  internal/block/block_pool_test.go
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adding gcs call log for storage layout api (#2629)
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chore: upgrading direct go-dependencies (#2689)
  go.mod
  go.sum
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chores: disable the read-stall-retry by default
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

chores: disable the read-stall-retry by default (#2690)
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

adding warning log for direct connectivity
  internal/gcsx/bucket_manager.go
  internal/storage/storage_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

changing buckethandle signature
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/downloader_test.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/gcsx/bucket_manager_test.go
  internal/storage/bucket_handle_test.go
  internal/storage/storage_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

enabling log only for grpc
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/storage/storage_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Upload handler implementation for buffered writes (#2669)
  internal/block/block_pool.go
  internal/block/block_pool_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/debug_bucket.go
  internal/storage/mock/mock_writer.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

temp commit
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/mock_writer.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments and rebase changes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/mock_writer.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
