Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

test
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
  tools/integration_tests/emulator_tests/write_stalls/proxy-17loe
  tools/integration_tests/emulator_tests/write_stalls/proxy-2jyz4
  tools/integration_tests/emulator_tests/write_stalls/proxy-8x4y1
  tools/integration_tests/emulator_tests/write_stalls/proxy-b9l0d
  tools/integration_tests/emulator_tests/write_stalls/proxy-blp5t
  tools/integration_tests/emulator_tests/write_stalls/proxy-bovxe
  tools/integration_tests/emulator_tests/write_stalls/proxy-eoacu
  tools/integration_tests/emulator_tests/write_stalls/proxy-exirp
  tools/integration_tests/emulator_tests/write_stalls/proxy-gkbli
  tools/integration_tests/emulator_tests/write_stalls/proxy-m95uk
  tools/integration_tests/emulator_tests/write_stalls/proxy-n35r4
  tools/integration_tests/emulator_tests/write_stalls/proxy-nq2kz
  tools/integration_tests/emulator_tests/write_stalls/proxy-nshny
  tools/integration_tests/emulator_tests/write_stalls/proxy-tpe1n
  tools/integration_tests/emulator_tests/write_stalls/proxy-v3qhb
  tools/integration_tests/emulator_tests/write_stalls/proxy-vdsk5
  tools/integration_tests/emulator_tests/write_stalls/proxy-x6b9u
  tools/integration_tests/emulator_tests/write_stalls/proxy-zqc1y
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add new tests
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix typo
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
  tools/integration_tests/emulator_tests/write_stalls/proxy-5hgp8
  tools/integration_tests/emulator_tests/write_stalls/proxy-9wrpl
  tools/integration_tests/emulator_tests/write_stalls/proxy-btfmk
  tools/integration_tests/emulator_tests/write_stalls/proxy-fp80r
  tools/integration_tests/emulator_tests/write_stalls/proxy-gsv0o
  tools/integration_tests/emulator_tests/write_stalls/proxy-z1zt3
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
  tools/integration_tests/emulator_tests/write_stalls/proxy-17loe
  tools/integration_tests/emulator_tests/write_stalls/proxy-2jyz4
  tools/integration_tests/emulator_tests/write_stalls/proxy-2xy5i
  tools/integration_tests/emulator_tests/write_stalls/proxy-5781n
  tools/integration_tests/emulator_tests/write_stalls/proxy-5hgp8
  tools/integration_tests/emulator_tests/write_stalls/proxy-7sg56
  tools/integration_tests/emulator_tests/write_stalls/proxy-8x4y1
  tools/integration_tests/emulator_tests/write_stalls/proxy-8xa73
  tools/integration_tests/emulator_tests/write_stalls/proxy-9nagc
  tools/integration_tests/emulator_tests/write_stalls/proxy-9wrpl
  tools/integration_tests/emulator_tests/write_stalls/proxy-b9l0d
  tools/integration_tests/emulator_tests/write_stalls/proxy-blp5t
  tools/integration_tests/emulator_tests/write_stalls/proxy-bovxe
  tools/integration_tests/emulator_tests/write_stalls/proxy-btfmk
  tools/integration_tests/emulator_tests/write_stalls/proxy-d3590
  tools/integration_tests/emulator_tests/write_stalls/proxy-eoacu
  tools/integration_tests/emulator_tests/write_stalls/proxy-exirp
  tools/integration_tests/emulator_tests/write_stalls/proxy-fp80r
  tools/integration_tests/emulator_tests/write_stalls/proxy-gkbli
  tools/integration_tests/emulator_tests/write_stalls/proxy-gsv0o
  tools/integration_tests/emulator_tests/write_stalls/proxy-ick13
  tools/integration_tests/emulator_tests/write_stalls/proxy-m95uk
  tools/integration_tests/emulator_tests/write_stalls/proxy-n35r4
  tools/integration_tests/emulator_tests/write_stalls/proxy-nq2kz
  tools/integration_tests/emulator_tests/write_stalls/proxy-nshny
  tools/integration_tests/emulator_tests/write_stalls/proxy-qed63
  tools/integration_tests/emulator_tests/write_stalls/proxy-s99q8
  tools/integration_tests/emulator_tests/write_stalls/proxy-th9bw
  tools/integration_tests/emulator_tests/write_stalls/proxy-tpe1n
  tools/integration_tests/emulator_tests/write_stalls/proxy-v3qhb
  tools/integration_tests/emulator_tests/write_stalls/proxy-vdsk5
  tools/integration_tests/emulator_tests/write_stalls/proxy-x6b9u
  tools/integration_tests/emulator_tests/write_stalls/proxy-xp6aj
  tools/integration_tests/emulator_tests/write_stalls/proxy-z1zt3
  tools/integration_tests/emulator_tests/write_stalls/proxy-zqc1y
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

test changes
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
  tools/integration_tests/emulator_tests/write_stalls/proxy-2xy5i
  tools/integration_tests/emulator_tests/write_stalls/proxy-5781n
  tools/integration_tests/emulator_tests/write_stalls/proxy-7sg56
  tools/integration_tests/emulator_tests/write_stalls/proxy-8xa73
  tools/integration_tests/emulator_tests/write_stalls/proxy-9nagc
  tools/integration_tests/emulator_tests/write_stalls/proxy-d3590
  tools/integration_tests/emulator_tests/write_stalls/proxy-ick13
  tools/integration_tests/emulator_tests/write_stalls/proxy-qed63
  tools/integration_tests/emulator_tests/write_stalls/proxy-s99q8
  tools/integration_tests/emulator_tests/write_stalls/proxy-th9bw
  tools/integration_tests/emulator_tests/write_stalls/proxy-xp6aj
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

create separate test dir
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

increase_timeout
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

adding node affinity
  perfmetrics/scripts/testing_on_gke/examples/dlio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/utils/run_tests_common.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

increasing num nodes in each pool to ensure parallel pod scheduling
  cmd.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

making namespace configurable
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

tweaks for running paralley namespace/instanceid/nodepool
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fixes in log parsing
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/fio/parse_logs.py
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

buffer on mmemory
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

fio tester buffer on memory
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

making script configurable
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/dlio/parse_logs.py
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

making everything configurable
  cmd.sh
  perfmetrics/scripts/testing_on_gke/examples/dlio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/values.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/run_tests.py
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
  perfmetrics/scripts/testing_on_gke/examples/utils/run_tests_common.py
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

correcting namespace
  cmd.sh
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

correcting pod yaml
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix
  perfmetrics/scripts/testing_on_gke/examples/dlio/unet3d-loading-test/templates/dlio-tester.yaml
  perfmetrics/scripts/testing_on_gke/examples/fio/loading-test/templates/fio-tester.yaml
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

added new test
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

added comment
  tools/integration_tests/emulator_tests/write_stalls/default_chunk_transfer_timeout_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

rename file
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_default_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

increasing timeout as some tests take longer to run.
  tools/cd_scripts/e2e_test.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

create common function
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_default_test.go
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

create common function and review comment
  tools/integration_tests/emulator_tests/write_stalls/chunk_transfer_timeout_infinity_test.go
  tools/integration_tests/emulator_tests/write_stalls/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

update bw sync and flush methods
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

enable-vnic in gke scripts
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

update buffered write sync and flush methods (#2794)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

use min object in buffered writes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/fake/fake_object_writer.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[testing-on-gke] Enable gVNIC in new cluster/node-pool (#2796)
  perfmetrics/scripts/testing_on_gke/examples/run-gke-tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Fix test to use a specific bucket.
  tools/integration_tests/monitoring/prom_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Add comment.
  common/otel_metrics.go
  common/telemetry.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Write-stall] Add e2e tests - 1 (#2767)
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
  tools/integration_tests/run_e2e_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add tests for default chunk transfer timeout
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/config_test.go
  tools/integration_tests/emulator_tests/proxy_server/configs/config.yaml
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/proxy_server/emulator.go
  tools/integration_tests/emulator_tests/proxy_server/emulator_test.go
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/proxy_server/main_test.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager.go
  tools/integration_tests/emulator_tests/proxy_server/operation_manager_test.go
  tools/integration_tests/emulator_tests/proxy_server/request_mapper.go
  tools/integration_tests/emulator_tests/proxy_server/request_mappper_test.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

add tests for default chunk transfer timeout
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/write_stall_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

fix kokoro test
  tools/integration_tests/emulator_tests/emulator_tests.sh
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners
