Repository GoogleCloudPlatform/gcsfuse, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleCloudPlatform/gcsfuse-codeowners, @gargnitingoogle, @kislaykishore, @tulsishah, @charith87

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo.
*           @GoogleCloudPlatform/gcsfuse-codeowners

perfmetrics/scripts/testing_on_gke/ @gargnitingoogle @kislaykishore @tulsishah @charith87 @GoogleCloudPlatform/gcsfuse-codeowners
perfmetrics/scripts/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners
tools/ @tulsishah @GoogleCloudPlatform/gcsfuse-codeowners

move object api integration
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comments
  internal/fs/fs.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/streaming_writes_common_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
  internal/fs/streaming_writes_local_file_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

common test should not run on their own
  internal/fs/streaming_writes_common_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add rename file method in dir layer
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/fs/inode/dir.go
  internal/fs/inode/hns_dir_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

nits
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

combine test
  internal/fs/streaming_writes_common_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

remove one assert
  internal/fs/inode/hns_dir_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Support Unlink operation when streaming writes in progress (#2810)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/inode.go
  internal/fs/inode/symlink.go
  internal/fs/streaming_writes_common_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
  internal/fs/streaming_writes_local_file_test.go
  tools/integration_tests/util/operations/validation_helper.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners, @tulsishah

Added new testcases
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/local_file/write_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

formating
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

minor fixes
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Added Setup
  tools/integration_tests/stale_handle/setup_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

added more e2e tests
  tools/integration_tests/stale_handle/stale_file_handle_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

Added e2e tests
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_test.go
  tools/integration_tests/util/operations/file_operations.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

created two test files.
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

used stretchr instead of ogletest
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
Owners: @tulsishah, @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/storage/bucket_handle.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added destroy method
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Looping over uploadCh and closing it.
  internal/bufferedwrites/upload_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing the lock and closing the channel
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixing comment.
  internal/bufferedwrites/upload_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

removed unused method
  internal/bufferedwrites/upload_handler.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixes
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

fixes
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/fs.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

added destroy method
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
  internal/fs/inode/hns_dir_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Addressed review comments
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/handle/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

review comment
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

Added destroy method to free up the memory buffers (#2839)
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/inode/file.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  internal/fs/inode/dir.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

[Move Object] Add rename file method in dir layer (#2841)
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/mock/testify_mock_bucket.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

unit test
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

small fix
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add one condition
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners

add one more assert
  internal/storage/bucket_handle_test.go
Owners: @GoogleCloudPlatform/gcsfuse-codeowners
