Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2023-11, with the labels that each got.

#1417 [Async object upload 3] Invoke ChunkUploader from bucket implementations
  internal/gcsx/content_type_bucket_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/mock_bucket.go
Labels: execute-integration-tests

#1489 Remove chmod calls for running scripts
  perfmetrics/scripts/continuous_test/gcp_ubuntu/build.sh
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/build.sh
  perfmetrics/scripts/continuous_test/gcp_ubuntu/periodic_experiments/build.sh
  perfmetrics/scripts/continuous_test/ml_tests/build.sh
  perfmetrics/scripts/continuous_test/ml_tests/pytorch/dino/build.sh
  perfmetrics/scripts/continuous_test/ml_tests/tf/resnet/build.sh
  perfmetrics/scripts/ml_tests/pytorch/dino/Dockerfile
  perfmetrics/scripts/ml_tests/pytorch/dino/setup_host_and_run_model.sh
  perfmetrics/scripts/ml_tests/run_image_recognition_models.py
  perfmetrics/scripts/ml_tests/tf/resnet/Dockerfile
  perfmetrics/scripts/ml_tests/tf/resnet/setup_host_and_run_model.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Labels: execute-perf-test

#1495 Random reader change to support reading from cache
  internal/cache/file/cache_handle.go
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler.go
  internal/cache/file/cache_handler_test.go
  internal/cache/util/util.go
  internal/cache/util/util_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_test.go
Labels: execute-integration-tests

#1503 Fix clat-percentile accuracy in fio
  perfmetrics/scripts/fio/install_fio.sh
Labels: execute-perf-test

#1504 Integrate with lumberjack for log rotation
  go.mod
  go.sum
  internal/fs/fs_test.go
  internal/logger/logger.go
  tools/integration_tests/log_rotation/log_rotation_test.go
  tools/integration_tests/log_rotation/logrotate_logfile_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/operations.go
  tools/integration_tests/util/setup/setup.go
  tools/integration_tests/util/setup/yaml-config.go
Labels: execute-integration-tests

#1522 Fix file creation in case of random read when downloadFileForRandomRead is False
  internal/cache/file/cache_handle.go
  internal/cache/file/cache_handler.go
  internal/cache/file/cache_handler_test.go
  internal/cache/util/util.go
  internal/fs/read_cache_test.go
  internal/gcsx/random_reader.go
Labels: execute-integration-tests

#1524 Truncate file on invalidation before deletion
  internal/cache/file/cache_handler.go
  internal/cache/file/cache_handler_test.go
Labels: execute-integration-tests

#1525 Upgrading go version 1.21.3 to 1.21.4
  Dockerfile
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/setup.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/run_e2e_tests.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test, execute-integration-tests
