Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2024-08, with the labels that each got.

#2249 Fix exit code in e2e tests
  tools/integration_tests/util/mounting/dynamic_mounting/dynamic_mounting.go
  tools/integration_tests/util/mounting/only_dir_mounting/only_dir_mounting.go
  tools/integration_tests/util/mounting/persistent_mounting/perisistent_mounting.go
  tools/integration_tests/util/mounting/static_mounting/static_mounting.go
Labels: execute-integration-tests

#2253 Increasing timeout of operations package
  tools/integration_tests/operations/operations_test.go
Labels: execute-integration-tests

#2257 Remove metageneration argument from folder struct
  internal/cache/metadata/stat_cache.go
  internal/cache/metadata/stat_cache_test.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/folder.go
  internal/storage/gcs/folder_test.go
Labels: execute-integration-tests

#2258 [CLI Config Parity] Migrate write config to new config
  cfg/config.go
  cfg/config_util.go
  cfg/config_util_test.go
  cmd/config_validation_test.go
  cmd/legacy_param_mapper_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
  internal/config/config_util.go
  internal/config/config_util_test.go
  internal/config/mount_config.go
  internal/fs/local_file_test.go
  tools/config-gen/params.yaml
  tools/config-gen/templates/config.tpl
  tools/integration_tests/operations/operations_test.go
Labels: execute-integration-tests

#2259 Rename fs level integration - 1
  internal/fs/fs.go
Labels: execute-integration-tests

#2278 Add bucket type field in fake bucket
  internal/canned/canned.go
  internal/fs/all_buckets_test.go
  internal/fs/caching_test.go
  internal/fs/fs_test.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/core_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
  internal/gcsx/content_type_bucket_test.go
  internal/gcsx/integration_test.go
  internal/gcsx/prefix_bucket_test.go
  internal/gcsx/syncer_test.go
  internal/storage/caching/integration_test.go
  internal/storage/fake/bucket.go
  internal/storage/fake/bucket_test.go
Labels: execute-integration-tests

#2276 [CLI Config Parity] Remove config object from integration tests
  tools/integration_tests/interrupt/interrupt_test.go
  tools/integration_tests/log_rotation/log_rotation_test.go
  tools/integration_tests/managed_folders/list_empty_managed_folders_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_large_files/read_large_files_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/util/setup/setup.go
  tools/integration_tests/util/setup/yaml-config.go
Labels: execute-integration-tests

#2256 Integration folder in core sturcture
  internal/fs/fs.go
  internal/fs/inode/core.go
  internal/fs/inode/core_test.go
  internal/fs/inode/dir.go
  internal/fs/inode/explicit_dir.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/gcs/folder.go
  internal/storage/gcs/folder_test.go
Labels: execute-integration-tests

#2288 Fix for flaky write large file test
  tools/integration_tests/write_large_files/concurrent_write_files_test.go
  tools/integration_tests/write_large_files/random_write_large_file_test.go
  tools/integration_tests/write_large_files/seq_write_large_file_test.go
Labels: execute-integration-tests

#2294 Fix for flaky list large dir
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
Labels: execute-integration-tests

#2289 Remove unused code
  internal/cache/util/util.go
  internal/config/config_util.go
  internal/fs/read_cache_test.go
  internal/fs/type_cache_test.go
  internal/util/sizeof.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/mounting/only_dir_mounting/only_dir_mounting.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2301 Dependabot Upgrades
  go.mod
  go.sum
  perfmetrics/scripts/load_tests/python/requirements.in
  perfmetrics/scripts/load_tests/python/requirements.txt
  tools/gem_dependency/Gemfile.lock
Labels: execute-perf-test, execute-integration-tests

#2291 Always create folder entries in readObjects irrespective of implicit-dir flag
  internal/fs/fs_test.go
  internal/fs/hns_bucket_test.go
  internal/fs/inode/dir.go
  internal/fs/inode/hns_dir_test.go
  internal/storage/fake/bucket.go
  tools/integration_tests/implicit_dir/implicit_dir_test.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2119 Migrate experimental-metadata-prefetch-on-mount to new config.
  cfg/constants.go
  cfg/types.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/flags.go
  cmd/flags_test.go
  cmd/legacy_main.go
  cmd/legacy_param_mapper_test.go
  cmd/root_test.go
  internal/config/mount_config.go
  internal/config/yaml_parser.go
Labels: execute-integration-tests

#2304 [CLI Config Parity] File cache migration from legacy config to new config.
  cfg/config_util.go
  cfg/config_util_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/legacy_main.go
  cmd/legacy_main_test.go
  cmd/legacy_param_mapper_test.go
  cmd/mount.go
  cmd/root_test.go
  cmd/testdata/file_cache_config/invalid_download_chunk_size_mb.yaml
  cmd/testdata/file_cache_config/invalid_max_parallel_downloads.yaml
  cmd/testdata/file_cache_config/invalid_max_size_mb.yaml
  cmd/testdata/file_cache_config/invalid_parallel_downloads_per_file.yaml
  cmd/testdata/file_cache_config/invalid_zero_max_parallel_downloads.yaml
  cmd/testdata/valid_config.yaml
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/downloader.go
  internal/cache/file/downloader/downloader_test.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/cache/file/downloader/parallel_downloads_job_test.go
  internal/config/config_util.go
  internal/config/config_util_test.go
  internal/config/mount_config.go
  internal/config/yaml_parser.go
  internal/config/yaml_parser_test.go
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/read_cache_test.go
  internal/gcsx/random_reader_test.go
Labels: execute-integration-tests

#2325 Fix for flaky list large dir tests
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
Labels: execute-integration-tests

#2313 Dependabot merge
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2287 Made the parallel downloads go routines running without synchronization
  internal/cache/data/object_range.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/cache/file/downloader/parallel_downloads_job_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
Labels: execute-integration-tests

#2317 Changes to use O_DIRECT in parallel downloads
  cfg/config.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/legacy_param_mapper_test.go
  cmd/root_test.go
  cmd/testdata/file_cache_config/invalid_write_buffer_size.yaml
  cmd/testdata/file_cache_config/invalid_zero_write_buffer_size.yaml
  cmd/testdata/valid_config.yaml
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/cache/file/downloader/parallel_downloads_job_test.go
  internal/cache/util/util.go
  internal/cache/util/util_test.go
  internal/config/mount_config.go
  internal/config/testdata/valid_config.yaml
  internal/config/yaml_parser_test.go
  internal/gcsx/random_reader_test.go
  tools/config-gen/params.yaml
Labels: execute-integration-tests

#2343 [CLI Config Parity] Migrate list config.
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
  internal/fs/fs.go
Labels: execute-integration-tests

#2342 [CLI Config Parity] Migrate kernel list cache ttl config and flag
  cfg/config_util.go
  cfg/config_util_test.go
  cfg/constants.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/flags.go
  cmd/flags_test.go
  cmd/legacy_main.go
  cmd/testdata/file_system_config/invalid_kernel_list_cache_ttl.yaml
  cmd/testdata/file_system_config/unsupported_large_kernel_list_cache_ttl.yaml
  internal/config/config_util.go
  internal/config/config_util_test.go
  internal/config/yaml_parser.go
  internal/config/yaml_parser_test.go
  internal/fs/fs.go
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  internal/mount/flag_test.go
Labels: execute-integration-tests

#2321 Categorize errors into groups
  docs/metrics.md
  internal/fs/wrappers/monitoring.go
  internal/fs/wrappers/monitoring_test.go
  internal/monitor/tags/tags.go
Labels: execute-integration-tests

#2309 Log new configuration
  cfg/config.go
  cfg/types.go
  cmd/legacy_main.go
  internal/logger/logger.go
  internal/util/util.go
  internal/util/util_test.go
  tools/config-gen/templates/config.tpl
Labels: execute-integration-tests

#2349 Local file bug fix - Recreation of local file had issue in stating
  internal/fs/fs.go
  internal/fs/local_file_test.go
  tools/integration_tests/local_file/read_dir_test.go
Labels: execute-integration-tests

#2358 [CLI Config Parity] Migrate GRPC connection pool size
  cmd/legacy_main.go
  cmd/legacy_main_test.go
Labels: execute-integration-tests

#2355 Upgrade dependencies
  go.mod
  go.sum
Labels: execute-perf-test

#2277 Rename fs level integration 2
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  internal/fs/inode/dir.go
Labels: execute-integration-tests

#2365 Upgrade to golang 1.23.0
  .github/header-checker-lint.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-integration-tests

#2364 upgrade gcsfuse go dependencies
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2346 Create a new inode for a folder if it is deleted/rename and then recreated
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  internal/fs/inode/base_dir.go
  internal/fs/inode/dir.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/hns_dir_test.go
  tools/integration_tests/local_file/local_file_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2353 Replacing syncUtil.Bundle with errGroup
  benchmarks/stat_files/main.go
  internal/fs/inode/dir.go
  internal/fs/stress_test.go
  internal/gcsx/garbage_collect.go
  internal/storage/fake/testing/bucket_tests.go
  internal/storage/storageutil/create_objects.go
  internal/storage/storageutil/delete_all_objects.go
Labels: execute-perf-test, execute-integration-tests

#2368 add test with cache pointing to ram based dir
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
Labels: execute-integration-tests

#2371 Add tracing to fs ops
  go.mod
  go.sum
  internal/fs/wrappers/monitoring.go
  internal/fs/wrappers/monitoring_test.go
Labels: execute-perf-test, execute-integration-tests

#2372 Allow a way to disable the use of O_DIRECT in parallel downloads
  cfg/config.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/testdata/valid_config.yaml
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/config/mount_config.go
  internal/config/testdata/valid_config.yaml
  internal/config/yaml_parser_test.go
  tools/config-gen/params.yaml
Labels: execute-integration-tests

#2385 Remove Timeout limit in StorageClient from all packages in integration_tests
  tools/integration_tests/concurrent_operations/setup_test.go
  tools/integration_tests/implicit_dir/implicit_dir_test.go
  tools/integration_tests/interrupt/interrupt_test.go
  tools/integration_tests/kernel_list_cache/setup_test.go
  tools/integration_tests/local_file/local_file_test.go
  tools/integration_tests/log_rotation/log_rotation_test.go
  tools/integration_tests/managed_folders/managed_folders_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/operations/write_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
  tools/integration_tests/readonly_creds/readonly_creds_test.go
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#2392 Fix a bug in how read cache e2e tests are run for different configs.
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
Labels: execute-integration-tests

#2393 Fix creation of gRPC client with enable-hns true on custom endpoint
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
Labels: execute-integration-tests

#2394 Convert rpc error code in fuse error
  internal/fs/wrappers/error_mapping.go
  internal/fs/wrappers/error_mapping_test.go
Labels: execute-integration-tests

#2395 makes enable-hns default false
  cfg/config.go
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
  internal/config/mount_config.go
  internal/config/yaml_parser_test.go
  tools/config-gen/params.yaml
Labels: execute-integration-tests

#2400 Disable O_DIRECT by default
  cfg/config.go
  cmd/config_validation_test.go
  cmd/root_test.go
  internal/config/mount_config.go
  internal/config/testdata/valid_config.yaml
  internal/config/yaml_parser_test.go
  tools/config-gen/params.yaml
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
Labels: execute-integration-tests

#2366 [CLI Config Parity] Migrate metadata cache config/flags
  .github/header-checker-lint.yml
  cfg/config.go
  cfg/constants.go
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/legacy_main.go
  cmd/legacy_param_mapper.go
  cmd/mount.go
  cmd/root.go
  cmd/root_test.go
  cmd/testdata/metadata_cache/metadata_cache_config_invalid_stat-cache-max-size-mb.yaml
  cmd/testdata/metadata_cache/metadata_cache_config_invalid_ttl.yaml
  cmd/testdata/metadata_cache/metadata_cache_config_invalid_type-cache-max-size-mb.yaml
  cmd/testdata/metadata_cache/metadata_cache_config_stat-cache-max-size-mb_too_high.yaml
  cmd/testdata/metadata_cache/metadata_cache_config_ttl_too_high.yaml
  cmd/testdata/valid_config.yaml
  internal/cache/metadata/stat_cache_test.go
  internal/cache/metadata/type_cache.go
  internal/cache/metadata/type_cache_test.go
  internal/config/mount_config.go
  internal/config/yaml_parser.go
  internal/config/yaml_parser_test.go
  internal/fs/caching_test.go
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/inode/dir.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/explicit_dir.go
  internal/fs/inode/hns_dir_test.go
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  internal/fs/type_cache_test.go
  internal/mount/flag.go
  internal/mount/flag_test.go
  internal/storage/caching/integration_test.go
  tools/config-gen/params.yaml
Labels: execute-integration-tests

#2389 Enable e2e test for more packages HNS bucket
  tools/integration_tests/explicit_dir/explicit_dir_test.go
  tools/integration_tests/kernel_list_cache/setup_test.go
  tools/integration_tests/list_large_dir/list_large_dir_test.go
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_large_files/concurrent_read_files_test.go
  tools/integration_tests/read_large_files/read_large_files_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
  tools/integration_tests/rename_dir_limit/rename_dir_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/run_tests_mounted_directory.sh
  tools/integration_tests/util/mounting/only_dir_mounting/only_dir_mounting.go
  tools/integration_tests/util/mounting/only_dir_mounting/testdata/create_objects.sh
  tools/integration_tests/util/mounting/only_dir_mounting/testdata/delete_objects.sh
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/setup/setup.go
  tools/integration_tests/write_large_files/concurrent_write_files_test.go
  tools/integration_tests/write_large_files/random_write_large_file_test.go
  tools/integration_tests/write_large_files/seq_write_large_file_test.go
Labels: execute-integration-tests

#2413 Add concurrent op tests for HNS bucket
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2414 Wire the new configuration into mount pipeline.
  cmd/flags.go
  cmd/flags_test.go
  cmd/legacy_main.go
  cmd/root.go
  main.go
Labels: execute-integration-tests

#2416 GKE e2e test fix
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/read_cache/setup_test.go
  tools/integration_tests/read_large_files/read_large_files_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
Labels: execute-integration-tests

#2425 Disable tracing temporarily
  internal/fs/wrappers/monitoring.go
  internal/fs/wrappers/monitoring_test.go
Labels: execute-integration-tests
