Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2024-03, with the labels that each got.

#1753 Upgrade to golang 1.22
  .github/workflows/ci.yml
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  perfmetrics/scripts/run_e2e_tests.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test

#1758 Making default value of enable managed folder listing false
  internal/config/mount_config.go
  internal/config/testdata/valid_config.yaml
  internal/config/yaml_parser_test.go
  internal/fs/fs.go
  main_test.go
Labels: execute-integration-tests

#1760 E2e test for min object
  tools/integration_tests/operations/write_test.go
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#1754 Improve default logs on mounting
  main.go
Labels: execute-integration-tests

#1776 Fix e2e tests
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#1772 List empty managed folders
  perfmetrics/scripts/run_e2e_tests.sh
  tools/integration_tests/managed_folders/list_empty_managed_folders_test.go
  tools/integration_tests/managed_folders/managed_folders_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#1777 fix kokoro e2e tests
  perfmetrics/scripts/run_e2e_tests.sh
Labels: execute-integration-tests

#1764 Upgrade to go 1.22.1 (with fix for dockerfiles)
  .github/workflows/ci.yml
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  perfmetrics/scripts/run_e2e_tests.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test, execute-integration-tests

#1773 Adding list test managed folder with view permissions
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/util/creds_tests/creds.go
  tools/integration_tests/util/operations/dir_operations.go
Labels: execute-integration-tests

#1785 Fix e2e tests on arm64 machine
  perfmetrics/scripts/run_e2e_tests.sh
Labels: execute-integration-tests

#1784 Managed folders test admin permission
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
Labels: execute-integration-tests

#1803 refactor run_e2e_tests script | add hns tests
  perfmetrics/scripts/run_e2e_tests.sh
  tools/integration_tests/util/setup/implicit_and_explicit_dir_setup/testdata/create_objects.sh
Labels: execute-integration-tests

#1802 GRPC: PR2: Added grpc support in the storage package
  go.mod
  go.sum
  internal/mount/flag.go
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
  internal/storage/storageutil/client.go
  internal/storage/storageutil/client_test.go
Labels: execute-integration-tests

#1799 Add crc check to read cache functional tests
  tools/integration_tests/read_cache/helpers_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/operations/file_operations.go
Labels: execute-integration-tests

#1791 Managed folder delete create tests with view permission
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/list_empty_managed_folders_test.go
  tools/integration_tests/managed_folders/managed_folders_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/readonly/create_object_test.go
  tools/integration_tests/readonly/delete_object_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/readonly/rename_object_test.go
  tools/integration_tests/readonly/write_test.go
  tools/integration_tests/rename_dir_limit/move_dir_test.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests

#1815 PR3: GRPC - Add support of `grpc` value as client-protocol flag
  flags.go
  internal/mount/flag.go
  main.go
  main_test.go
Labels: execute-perf-test, execute-integration-tests
