Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2024-10, with the labels that each got.

#2548 Reducing number of iterations as it takes longer to run this test while running concurrently with other tests.
  tools/integration_tests/concurrent_operations/concurrent_listing_test.go
Labels: execute-integration-tests

#2491 Remove unused functions.
  internal/cache/file/downloader/downloader.go
  internal/logger/logger.go
  internal/storage/fake_storage_util.go
  internal/util/sizeof.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2549 Reduce file size, adjust chunk size accordingly and increase retries.
  tools/integration_tests/read_cache/helpers_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/setup_test.go
Labels: execute-integration-tests

#2558 Improve error handling in list_large_dir
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
  tools/integration_tests/list_large_dir/testdata/create_implicit_dir.sh
  tools/integration_tests/list_large_dir/testdata/delete_objects.sh
  tools/integration_tests/list_large_dir/testdata/upload_files_to_bucket.sh
Labels: execute-integration-tests

#2563 replacing gcloud command for updating/revoking permission to service account
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/readonly_creds/readonly_creds_test.go
  tools/integration_tests/util/creds_tests/creds.go
Labels: execute-integration-tests

#2562 Replace gcloud command to access credential secret
  go.mod
  go.sum
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/readonly_creds/readonly_creds_test.go
  tools/integration_tests/util/creds_tests/creds.go
Labels: execute-integration-tests

#2565 Make createFolder and deleteFolder retry able
  internal/storage/storageutil/control_client.go
Labels: execute-integration-tests

#2530 Add negative cache for folders
  internal/cache/metadata/stat_cache.go
  internal/cache/metadata/stat_cache_test.go
  internal/fs/hns_bucket_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  tools/integration_tests/implicit_dir/delete_test.go
  tools/integration_tests/implicit_dir/implicit_dir_test.go
  tools/integration_tests/implicit_dir/list_test.go
Labels: execute-integration-tests

#2574 Add a loop to read 5 times from kernel cache and take minimum listing time
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
Labels: execute-integration-tests

#2576 Resolve dependabot PRs
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2578 upgrade to golang v1.23.2
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test, execute-integration-tests

#2568 Delete existing empty dest folder before rename
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
  tools/integration_tests/rename_dir_limit/rename_dir_test.go
Labels: execute-integration-tests

#2579 Fix to not use O_DIRECT by default
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/parallel_downloads_job.go
Labels: execute-integration-tests

#2593 Fix e2e test by python3 installation
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2596 Replaced gcloud command with control client code in Create/DeleteManagedFoldersInBucket in managed_folders test package
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/list_empty_managed_folders_test.go
  tools/integration_tests/managed_folders/managed_folders_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/util/client/control_client.go
Labels: execute-integration-tests

#2599 Fix e2e test
  tools/integration_tests/rename_dir_limit/rename_dir_test.go
Labels: execute-integration-tests

#2601 Make control client retry able in e2e tests
  tools/integration_tests/util/client/control_client.go
Labels: execute-integration-tests

#2605 chore: upgrade go-storage-sdk from 1.43.0 to 1.45.0
  go.mod
  go.sum
  internal/storage/storage_handle.go
Labels: execute-perf-test, execute-integration-tests

#2611 Update direct dependencies
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2597 [Buffered Writes] bucket interface changes for buffered writes part 1
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/mock_bucket.go
  internal/storage/object_writer.go
  internal/storage/storageutil/object_attrs.go
  internal/storage/testify_mock_bucket.go
Labels: minimal-file-buffering

#2602 Added blockpool struct
  internal/block/block.go
  internal/block/block_pool.go
  internal/block/block_pool_test.go
  internal/block/block_test.go
Labels: minimal-file-buffering

#2612 feat: support to retry for stalled read request
  cmd/legacy_main.go
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
  internal/storage/storageutil/client.go
  internal/storage/storageutil/test_util.go
Labels: automerge, execute-integration-tests

#2625 Fix flaky managed folder test
  tools/integration_tests/managed_folders/test_helper.go
Labels: execute-integration-tests

#2606 [Buffered Writes] bucket interface changes for buffered writes part 2
  internal/gcsx/content_type_bucket.go
  internal/gcsx/content_type_bucket_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/storage/fake/bucket.go
  internal/storage/fake/fake_object_writer.go
Labels: minimal-file-buffering

#2635 Remove two arrays from e2e test script
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2639 Dependabot prs
  go.mod
  go.sum
  perfmetrics/scripts/load_tests/python/requirements.txt
Labels: execute-perf-test, execute-integration-tests

#2642 Add label automated tests for package building
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Labels: execute-package-build-tests
