Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2024-12, with the labels that each got.

#2725 add benchmarking test package to e2e testing
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/benchmarking/benchmark_delete_test.go
  tools/integration_tests/benchmarking/benchmark_stat_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2730 map storage.ErrObjectNotExist in NewReader method to gcs.NotFoundError
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
Labels: execute-integration-tests

#2699 Use an interface to cleanly switch between different implementations of metrics
  cfg/config_util.go
  cfg/config_util_test.go
  cmd/legacy_main.go
  cmd/mount.go
  common/noop_metrics.go
  common/oc_metrics.go
  common/telemetry.go
  common/telemetry_test.go
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/downloader.go
  internal/cache/file/downloader/downloader_test.go
  internal/cache/file/downloader/jm_parallel_downloads_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/fs/caching_test.go
  internal/fs/fs.go
  internal/fs/fs_test.go
  internal/fs/handle/file.go
  internal/fs/hns_bucket_test.go
  internal/fs/implicit_dirs_test.go
  internal/fs/implicit_dirs_with_cache_test.go
  internal/fs/inode/base_dir.go
  internal/fs/inode/base_dir_test.go
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  internal/fs/kernel_list_cache_test.go
  internal/fs/kernel_list_cache_zero_ttl_test.go
  internal/fs/local_file_test.go
  internal/fs/parallel_dirops_test.go
  internal/fs/read_cache_test.go
  internal/fs/server.go
  internal/fs/type_cache_test.go
  internal/fs/wrappers/monitoring.go
  internal/gcsx/bucket_manager.go
  internal/gcsx/bucket_manager_test.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_test.go
  internal/monitor/bucket.go
  internal/monitor/reader.go
  internal/monitor/tags/tags.go
Labels: execute-perf-test, execute-integration-tests

#2749 Add file-cache metrics to the OC views
  common/oc_metrics.go
Labels: execute-integration-tests

#2751 Remove global err variable from fs_test package.
  internal/fs/fs_test.go
  internal/fs/hns_bucket_test.go
  internal/fs/local_file_test.go
  internal/fs/type_cache_test.go
Labels: execute-integration-tests

#2747 upgrade gosdk version to v1.48.0
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2768 Throw ErrUploadFailure error in buffered writes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
Labels: minimal-file-buffering

#2780 Increasing mount timeout threshold and taking minimum of 10 iterations
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
  tools/integration_tests/mount_timeout/mount_timeout_test.go
Labels: execute-integration-tests

#2779 Bump dependabot PRs
  Dockerfile
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2777 [Emulator tests] Automate tests in kokoro and add helper to run proxy server
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-master.cfg
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-release.cfg
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2776 [Write-stall] Set chunk transfer timeout to writer
  cmd/mount.go
  internal/fs/fs_test.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/base_dir_test.go
  internal/fs/inode/core_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/hns_dir_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/append_object_creator_test.go
  internal/gcsx/bucket_manager.go
  internal/gcsx/integration_test.go
  internal/gcsx/syncer.go
  internal/gcsx/syncer_bucket.go
  internal/gcsx/syncer_test.go
  internal/storage/bucket_handle.go
  internal/storage/gcs/request.go
Labels: execute-integration-tests

#2782 Upgrade to golang v1.23.4
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test, execute-integration-tests

#2789 Remove unnecessary noises while deleting bucket in CI Pipeline
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2734 Write failure composite tests
  internal/fs/stale_file_handle_local_file_test.go
  internal/fs/stale_file_handle_synced_file_test.go
  internal/storage/storageutil/delete_object.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/readonly/create_object_test.go
  tools/integration_tests/readonly/delete_object_test.go
  tools/integration_tests/readonly/rename_object_test.go
  tools/integration_tests/readonly/write_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests

#2767 [Write-stall] Add e2e tests - 1
  tools/integration_tests/emulator_tests/emulator_test.go
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2799 Fix emulator based kokoro tests
  tools/integration_tests/emulator_tests/emulator_tests.sh
Labels: execute-integration-tests

#2795 Buffered Writes Optimisation: Use MinObject
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/fake/fake_object_writer.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
Labels: execute-integration-tests

#2744 Compute OTel metrics
  cmd/legacy_main.go
  common/oc_metrics.go
  common/otel_metrics.go
  common/telemetry.go
  internal/monitor/otelexporters.go
  tools/integration_tests/monitoring/prom_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/setup/setup.go
Labels: execute-perf-test, execute-integration-tests

#2809 Dependency upgrade Crypto for CVE
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2812 Lock bundler version
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-package-build-tests

#2797 Allow upload handler to create chunk writer for empty synced object
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
  internal/fs/local_modifications_test.go
  internal/gcsx/append_object_creator.go
  internal/gcsx/syncer.go
  internal/storage/gcs/request_helper.go
  internal/storage/gcs/request_helper_test.go
  tools/integration_tests/operations/write_test.go
Labels: streaming-writes

#2817 [Write stall] CD pipeline integration
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/emulator_tests/emulator_tests.sh
Labels: execute-integration-tests

#2798 [Write-stall] Add e2e tests - 2
  tools/integration_tests/emulator_tests/README.md
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_twice_40s.yaml
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall_test.go
Labels: execute-integration-tests

#2826 [Streaming writes] Fall back out of order writes to temporary file
  internal/bufferedwrites/buffered_write_handler.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Labels: streaming-writes

#2830 Upgrade go sdk module - v1.49.0
  go.mod
  go.sum
Labels: execute-integration-tests

#2838 Fix: Handle gRPC precondition failures while creating object
  internal/storage/bucket_handle.go
  tools/integration_tests/rename_dir_limit/rename_dir_limit_test.go
Labels: execute-integration-tests

#2810 Support Unlink operation when streaming writes in progress
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/inode.go
  internal/fs/inode/symlink.go
  internal/fs/streaming_writes_common_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
  internal/fs/streaming_writes_local_file_test.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: streaming-writes

#2822 Add negative cache entry after deleting object/folderCache entry update
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  tools/integration_tests/implicit_dir/local_file_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
  tools/integration_tests/util/operations/string_operations.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests, hns-integration

#2850 Bump Dependabot PR
  go.mod
  go.sum
Labels: execute-integration-tests
