Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-03, with the labels that each got.

#2994 Enable minimal test packages for zonal bucket in e2e test suite
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/build.sh
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/tpc_build.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#3045 Upgrade fuse module - Remove duplicate error logs
  go.mod
  go.sum
Labels: execute-perf-test

#3035 cleanup task: removing newReader method (replaced by newReaderWithReadHandle)
  internal/cache/file/downloader/job.go
  internal/fs/inode/file.go
  internal/gcsx/integration_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/gcsx/random_reader_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/fake/testing/bucket_tests.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
  internal/storage/storageutil/read_object.go
  internal/storage/testify_mock_bucket.go
Labels: execute-integration-tests

#3058 Fix periodic jax tests
  perfmetrics/scripts/ml_tests/checkpoint/Jax/run_checkpoints.sh
Labels: execute-checkpoint-test

#3061 append bucket name with architecture in checkpoint tests
  perfmetrics/scripts/ml_tests/checkpoint/Jax/run_checkpoints.sh
Labels: execute-checkpoint-test

#3069 chores (bump): updating direct go-module dependency
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests, execute-package-build-tests, execute-checkpoint-test, execute-integration-tests-on-zb

#3064 Enable more e2e test packages for rapid bucket
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests-on-zb

#3077 Revert "Turn on the flag for Move object"
  cfg/config.go
  cfg/params.yaml
Labels: execute-integration-tests

#3060 Flush local files with streaming writes for rename operation.
  internal/fs/fs.go
  internal/fs/streaming_writes_common_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
  internal/fs/streaming_writes_local_file_test.go
  tools/integration_tests/local_file/rename.go
  tools/integration_tests/streaming_writes/rename_file_test.go
Labels: execute-integration-tests, streaming-writes

#3083 Update SDK to storage/v1.51.0
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#3096 Fix context canceled error conversion and add stale file handle tests for streaming writes.
  internal/bufferedwrites/upload_handler.go
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/stale_handle_streaming_writes/setup_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_common_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_empty_gcs_file_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_local_file_test.go
Labels: execute-integration-tests, streaming-writes

#3090 Update viper
  cfg/decode_hook.go
  cmd/root.go
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#3089 Update direct deps
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#3066 Refactor methods for saving log files to KOKORO in case of test failures.
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-master.cfg
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/e2e-tests-release.cfg
  tools/integration_tests/emulator_tests/proxy_server/config.go
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/read_stall/read_stall_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/common_failure_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall/writes_stall_on_sync_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#3100 Enable metrics while running perf tests
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
Labels: execute-perf-test, execute-integration-tests

#3099 Integrate with resumable upload writer.Flush()
  internal/fs/fs.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/prefix_bucket_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/bucket_handle_test.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/fake/fake_object_writer.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/mock_writer.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
  internal/storage/testify_mock_bucket.go
Labels: streaming-writes

#3097 Enable parallel downloads config
  cfg/constants.go
  cfg/rationalize.go
  cfg/rationalize_test.go
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-integration-tests

#3103 Integrate flush writer with upload handler
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Labels: streaming-writes

#3108 Integrate buffered write handler with writer.flush
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
Labels: streaming-writes, execute-integration-tests-on-zb

#3124 Replace `--debug_*` with `--log-severity=trace` in e2e tests
  tools/integration_tests/util/mounting/dynamic_mounting/dynamic_mounting.go
  tools/integration_tests/util/mounting/only_dir_mounting/only_dir_mounting.go
  tools/integration_tests/util/mounting/persistent_mounting/perisistent_mounting.go
  tools/integration_tests/util/mounting/static_mounting/static_mounting.go
Labels: execute-integration-tests
