Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-05, with the labels that each got.

#3251 Sync file Inode at the time of BWH initialization
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_mock_bucket_test.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  tools/integration_tests/streaming_writes/buffer_size_test.go
  tools/integration_tests/streaming_writes/default_mount_local_file_test.go
  tools/integration_tests/unfinalized_object/unfinalized_object_operations_test.go
Labels: execute-integration-tests

#3240 fix: Use random bucket name in each CreateTestBucketForDynamicMounting call instead of using fixed random name.
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/util/mounting/dynamic_mounting/dynamic_mounting.go
Labels: execute-integration-tests

#3260 Make NewReaderWithReadHandle to return fullGCSReaderCloser
  internal/monitor/bucket.go
  internal/storage/bucket_handle.go
  internal/storage/full_read_closer.go
  internal/storage/full_read_closer_test.go
Labels: execute-perf-test, execute-integration-tests

#3279 Fix flaky benchmark tests
  tools/integration_tests/benchmarking/benchmark_delete_test.go
  tools/integration_tests/benchmarking/benchmark_rename_test.go
  tools/integration_tests/benchmarking/benchmark_stat_test.go
  tools/integration_tests/benchmarking/setup_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#3284 Integrate inactiveTimeoutReader in random-reader
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_stretchr_test.go
  internal/gcsx/random_reader_test.go
Labels: execute-perf-test, execute-integration-tests

#3287 Refactor metrics to move unit conversion logic to otel_metrics
  common/noop_metrics.go
  common/otel_metrics.go
  common/telemetry.go
  internal/fs/wrappers/monitoring.go
  internal/gcsx/file_cache_reader.go
  internal/monitor/bucket.go
Labels: execute-perf-test, execute-integration-tests

#3104 Refactor stale handle package and start running streaming writes tests for ZB.
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/stale_handle_streaming_writes/setup_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_common_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_empty_gcs_file_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_local_file_test.go
  tools/integration_tests/streaming_writes/rename_file_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests

#3288 Use the same code-flow regardless of metrics being enabled
  internal/gcsx/bucket_manager.go
  internal/storage/bucket_handle.go
Labels: execute-integration-tests

#3289 Encapsulate test environment variables
  tools/integration_tests/negative_stat_cache/disabled_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/finite_int_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/infinite_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/setup_test.go
Labels: execute-integration-tests, hns-integration

#3259 Extract file open mode from OpenFileOp
  go.mod
  go.sum
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/util/file_util.go
Labels: execute-integration-tests

#3318 add chunk transfer timeout for streaming writes uploads.
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Labels: execute-integration-tests

#3306 Limit blocks for streaming writes; fallback to staged writes
  internal/block/block_pool.go
  internal/block/block_pool_test.go
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file.go
  internal/fs/stale_file_handle_streaming_writes_common_test.go
Labels: execute-integration-tests, streaming-writes

#3312 add tests for fall back to disk case when streaming writes are limited by global blocks
  tools/integration_tests/streaming_writes/common_streaming_writes_suite_test.go
  tools/integration_tests/streaming_writes/empty_gcs_file_test.go
  tools/integration_tests/streaming_writes/local_file_test.go
  tools/integration_tests/streaming_writes/read_file_test.go
  tools/integration_tests/streaming_writes/rename_file_test.go
  tools/integration_tests/streaming_writes/setup_test.go
  tools/integration_tests/streaming_writes/symlink_file_test.go
  tools/integration_tests/streaming_writes/truncate_file_test.go
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#3326 Run inactive_stream_timeout test as part of CI/CD
  tools/integration_tests/inactive_stream_timeout/with_timeout_test.go
  tools/integration_tests/inactive_stream_timeout/without_timeout_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: automerge: exact, execute-integration-tests

#3196 Refactor list_large_dir e2e tests to replace gcloud with go sdk
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
  tools/integration_tests/list_large_dir/testdata/create_implicit_dir.sh
  tools/integration_tests/list_large_dir/testdata/upload_files_to_bucket.sh
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#3341 Encapsulate global vars in a struct for a few e2e tests
  tools/integration_tests/explicit_dir/explicit_dir_test.go
  tools/integration_tests/explicit_dir/list_test.go
  tools/integration_tests/implicit_dir/delete_test.go
  tools/integration_tests/implicit_dir/implicit_dir_test.go
  tools/integration_tests/implicit_dir/list_test.go
  tools/integration_tests/implicit_dir/local_file_test.go
Labels: execute-integration-tests, hns-integration

#3343 Update direct dependencies.
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#3346 Fixed flaky parallel download test [Test_ParallelDownloadObjectToFile_NewReaderWithReadHandle]
  internal/cache/file/downloader/parallel_downloads_job_testify_test.go
Labels: execute-integration-tests, hns-integration

#3356 Adding cloud-profiler test as part of CI/CD
  tools/integration_tests/cloud_profiler/cloud_profiler_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/run_tests_mounted_directory.sh
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#3328 routing writes to inode via fileHandle
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/handle/file_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: execute-integration-tests

#3372 fix CVE-2025-27144 and upgrade direct dependencies
  go.mod
  go.sum
Labels: execute-integration-tests-on-zb
