Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-06, with the labels that each got.

#3371 Add support for truncate to lower for streaming writes and fix promotion to generation backed Inode in Write and Truncate Flow.
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/handle/file_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  internal/fs/streaming_writes_common_test.go
  internal/fs/streaming_writes_empty_gcs_object_test.go
  tools/integration_tests/local_file/stat_file.go
  tools/integration_tests/streaming_writes/truncate_file_test.go
  tools/integration_tests/streaming_writes/write_file_test.go
Labels: execute-integration-tests, execute-integration-tests-on-zb

#3355 Turn on the flag for Move object
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
Labels: execute-integration-tests

#3378 insert gcs.minObj directly into stat cache in StatObjectFromGCS()
  internal/storage/caching/fast_stat_bucket.go
Labels: execute-perf-test, execute-integration-tests

#3365 adding Finalized obj attribute to gcs.MinObject
  cfg/config.go
  cfg/constants.go
  cfg/params.yaml
  cmd/config_rationalization_test.go
  cmd/config_validation_test.go
  cmd/root_test.go
  internal/fs/fs_test.go
  internal/fs/hns_bucket_test.go
  internal/fs/local_modifications_test.go
  internal/storage/bucket_handle.go
  internal/storage/fake/bucket.go
  internal/storage/fake/testing/bucket_tests.go
  internal/storage/gcs/object.go
  internal/storage/storageutil/object_attrs.go
  internal/storage/storageutil/object_attrs_test.go
Labels: execute-integration-tests, execute-integration-tests-on-zb

#3381 [Random reader refactoring] Integrate a read manager instance with a file handle to support the new read flow, controlled by a hidden flag
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/handle/file_test.go
  internal/gcsx/file_cache_reader.go
  internal/gcsx/mock_random_reader.go
  internal/gcsx/read_manager/mock_read_manager.go
Labels: execute-integration-tests

#3409 Fix flaky Download_WhenAsyncFails test
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
Labels: execute-integration-tests, hns-integration

#3419 Make the --enable-read-stall-retry flag public
  cfg/config.go
  cfg/params.yaml
Labels: execute-integration-tests

#3421 Adding e2e tests for release version
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/improved_run_e2e_tests.sh
  tools/integration_tests/release_version/release_version_test.go
  tools/integration_tests/release_version/setup_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/util/build_gcsfuse.go
Labels: execute-integration-tests

#3414 add resource usage script and add it to e2e test runs to print cpu/mem/disk usage after runs.
  tools/integration_tests/improved_run_e2e_tests.sh
  tools/integration_tests/resource_usage.sh
Labels: execute-integration-tests

#3407 Reduce CPU and memory usage incurred by metrics
  common/noop_metrics.go
  common/otel_metrics.go
  common/telemetry.go
  common/telemetry_test.go
  internal/fs/wrappers/monitoring.go
  internal/gcsx/file_cache_reader.go
  internal/monitor/bucket.go
  internal/util/util.go
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-perf-test, execute-integration-tests

#3389 appending to unfinalized objects in ZB using streaming writes flow with takeover writer
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/fs.go
  internal/fs/handle/file.go
  internal/fs/handle/file_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: execute-integration-tests, execute-integration-tests-on-zb, takeover API integration

#2043 Exclude files from cache based on name
  cfg/config.go
  cfg/params.yaml
  cfg/validate.go
  cfg/validate_test.go
  cmd/root_test.go
  internal/cache/file/cache_handler.go
  internal/cache/file/cache_handler_test.go
  internal/cache/util/util.go
  internal/fs/fs.go
  internal/fs/read_cache_test.go
  internal/gcsx/file_cache_reader.go
  internal/gcsx/file_cache_reader_test.go
  internal/gcsx/prefix_bucket.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_stretchr_test.go
  internal/gcsx/random_reader_test.go
  internal/gcsx/read_manager/read_manager_test.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
  internal/storage/testify_mock_bucket.go
  tools/integration_tests/read_cache/cache_file_for_exclude_regex_test.go
Labels: execute-integration-tests

#3452 Use read-type constants from "common" package instead of "internal/util"
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/parallel_downloads_job.go
  internal/gcsx/client_readers/gcs_reader.go
  internal/gcsx/client_readers/gcs_reader_test.go
  internal/gcsx/client_readers/range_reader.go
  internal/gcsx/file_cache_reader.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_stretchr_test.go
  internal/util/util.go
Labels: execute-integration-tests

#3433 Add getopt in e2e script for enhanced command line arg handling.
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  tools/integration_tests/improved_run_e2e_tests.sh
Labels: execute-integration-tests, execute-integration-tests-on-zb, remind-reviewers

#3459 Fix typo in e2e test script and a condition check.
  tools/integration_tests/improved_run_e2e_tests.sh
Labels: execute-integration-tests
