Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-01, with the labels that each got.

#2852 Fix flaky parallel dirOps e2e tests
  tools/integration_tests/operations/parallel_dirops_test.go
Labels: execute-integration-tests

#2853 Fix kernel cache ttl test failure for GKE
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_delete_dir_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
  tools/integration_tests/run_tests_mounted_directory.sh
Labels: execute-integration-tests

#2857 Make OTel metrics docstring and names same as that of OC.
  common/otel_metrics.go
Labels: execute-integration-tests

#2845 Add Integration Tests for Write Failure Improvements
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle/stale_file_handle_local_file_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2856 streaming writes flush and sync flow
  internal/fs/fs.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: execute-integration-tests, streaming-writes

#2859 Make OTel the default for metrics
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
Labels: execute-perf-test, execute-integration-tests

#2872 Refactor: ValidateStaleNFSFileHandleError for ARM64 Compatibility
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests

#2858 Disable write back cache when streaming writes are enabled
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cfg/validate_test.go
  cmd/config_validation_test.go
  cmd/mount.go
  cmd/root_test.go
  internal/util/util.go
Labels: streaming-writes

#2871 [Move Object] fs layer changes
  internal/fs/fs.go
  internal/fs/hns_bucket_test.go
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/operations/operations_test.go
  tools/integration_tests/operations/rename_file_test.go
Labels: execute-integration-tests

#2781 fix: Retry gRPC UNAUTHENTICATED errors like 401s.
  internal/storage/storageutil/custom_retry.go
  internal/storage/storageutil/custom_retry_test.go
Labels: execute-integration-tests

#2882 Revert "Enable OTel metrics by default (#2859)"
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
Labels: execute-perf-test, execute-integration-tests

#2883 Create global max blocks semaphore only once at file system level.
  internal/fs/fs.go
  internal/fs/handle/dir_handle_test.go
  internal/fs/inode/dir_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: streaming-writes

#2837 Negative cache TTL Fix
  cfg/config.go
  cfg/constants.go
  cfg/params.yaml
  cfg/rationalize.go
  cfg/rationalize_test.go
  cfg/validate.go
  cmd/config_validation_test.go
  cmd/mount.go
  cmd/root_test.go
  internal/fs/caching_test.go
  internal/fs/hns_bucket_test.go
  internal/gcsx/bucket_manager.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/caching/integration_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_delete_dir_test.go
Labels: execute-perf-test, execute-integration-tests

#2887 Negative cache integration tests
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_delete_dir_test.go
  tools/integration_tests/negative_stat_cache/disabled_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/finite_int_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/infinite_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/setup_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2888 Upgrading direct go dependencies
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2889 Turn on the flag for Move object
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
Labels: execute-integration-tests

#2842 Added new integration test cases for streaming writes flow
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/local_file/write_file_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/streaming_writes/buffer_size_test.go
  tools/integration_tests/streaming_writes/default_mount_local_file_test.go
  tools/integration_tests/streaming_writes/default_mount_test.go
  tools/integration_tests/streaming_writes/streaming_writes_test.go
  tools/integration_tests/streaming_writes/truncate_file_test.go
Labels: execute-integration-tests

#2891 Downgrade go-sdk from v1.50.0 to v1.49.0
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2892 Revert "Turn on the flag for Move object"
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
Labels: execute-integration-tests

#2904 Skipping Kernel List Cache E2E Test on the Unsupported Kernel Version
  common/util.go
  common/util_test.go
  internal/fs/kernel_list_cache_inifinite_ttl_test.go
  tools/integration_tests/kernel_list_cache/finite_kernel_list_cache_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_delete_dir_test.go
  tools/integration_tests/util/operations/operations.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests

#2905 Refactor list_large_dir tests to use storage client to delete directories instead of gcloud.
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
  tools/integration_tests/list_large_dir/list_large_dir_test.go
  tools/integration_tests/list_large_dir/testdata/delete_objects.sh
  tools/integration_tests/list_large_dir/testdata/upload_files_to_bucket.sh
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#2922 Enable dynamic creation of storage clients based on bucket type and specified protocol
  internal/storage/fake_storage_util.go
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
Labels: execute-perf-test, execute-integration-tests

#2926 Partially Revert "Disable tpc and emulator tests in e2e"
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2924 Update direct dependencies
  go.mod
  go.sum
Labels: execute-perf-test, execute-integration-tests

#2928 Skip test when testing with installed package
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-integration-tests

#2902 Onboard local file integration tests to stretchr/testify and export CommonLocalFileTestSuite
  tools/integration_tests/local_file/create_file_test.go
  tools/integration_tests/local_file/local_file_test.go
  tools/integration_tests/local_file/local_file_test_suite_test.go
  tools/integration_tests/local_file/read_dir_test.go
  tools/integration_tests/local_file/read_file_test.go
  tools/integration_tests/local_file/remove_dir_test.go
  tools/integration_tests/local_file/rename_test.go
  tools/integration_tests/local_file/stat_file_test.go
  tools/integration_tests/local_file/sym_link_test.go
  tools/integration_tests/local_file/unlinked_file_test.go
  tools/integration_tests/local_file/write_file_test.go
  tools/integration_tests/util/client/gcs_helper.go
Labels: execute-integration-tests

#2935 Fix "Already Exist" error code for folder creation
  internal/fs/wrappers/error_mapping.go
  internal/fs/wrappers/error_mapping_test.go
  tools/integration_tests/negative_stat_cache/infinite_negative_stat_cache_test.go
  tools/integration_tests/negative_stat_cache/setup_test.go
  tools/integration_tests/util/client/control_client.go
Labels: execute-integration-tests

#2931 Stopping use of timer based cleanup logic for MRD
  internal/gcsx/multi_range_downloader_wrapper.go
  internal/gcsx/multi_range_downloader_wrapper_test.go
Labels: execute-perf-test, execute-integration-tests

#2933 Fix crash when the file name being statted is just "\n"
  internal/fs/fs.go
  tools/integration_tests/operations/stat_file_test.go
Labels: execute-integration-tests

#2941 Fixing the truncate test for empty GCS file in streaming writes flow
  tools/integration_tests/streaming_writes/default_mount_empty_gcs_file_test.go
Labels: execute-integration-tests

#2929 Handle write edge case when first write is out of order write
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: streaming-writes

#2940 Fix TPC
  internal/storage/storage_handle.go
  internal/storage/storage_handle_test.go
  perfmetrics/scripts/continuous_test/gcp_ubuntu/e2e_tests/tpc_build.sh
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#2948 Finalize object for any error in buffered writes flow
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Labels: streaming-writes

#2943 [Readability fix] Be explicit that nil child is being returned.
  internal/fs/fs.go
Labels: execute-integration-tests

#2949 Add streaming writes config to useragent
  cmd/legacy_main.go
  cmd/legacy_main_test.go
Labels: streaming-writes

#2954 Remove chunk retry timeout for buffered writes writer
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Labels: streaming-writes

#2938 Add Symlink/ReadFile tests for streaming writes scenario and run CommonLocalFileTestSuite from Streaming writes package.
  tools/integration_tests/local_file/create_file.go
  tools/integration_tests/local_file/local_file_helper.go
  tools/integration_tests/local_file/local_file_suite.go
  tools/integration_tests/local_file/read_dir.go
  tools/integration_tests/local_file/read_file.go
  tools/integration_tests/local_file/remove_dir.go
  tools/integration_tests/local_file/rename.go
  tools/integration_tests/local_file/setup_test.go
  tools/integration_tests/local_file/stat_file.go
  tools/integration_tests/local_file/sym_link.go
  tools/integration_tests/local_file/unlinked_file.go
  tools/integration_tests/local_file/write_file.go
  tools/integration_tests/streaming_writes/default_mount_empty_gcs_file_test.go
  tools/integration_tests/streaming_writes/default_mount_local_file_test.go
  tools/integration_tests/streaming_writes/default_mount_test.go
  tools/integration_tests/streaming_writes/read_file_test.go
  tools/integration_tests/streaming_writes/symlink_file_test.go
  tools/integration_tests/util/test_suite/testify_interface.go
Labels: execute-integration-tests, streaming-writes

#2956 fix re-flush for streaming writes
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Labels: execute-integration-tests

#2953 Improving error conversion logic
  internal/fs/wrappers/error_mapping.go
Labels: execute-perf-test, execute-integration-tests
