Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-02, with the labels that each got.

#2957 Close upload failure channel in case of error during finalize
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
Labels: execute-integration-tests

#2958 Doing flush for pending writes on rename file
  internal/fs/fs.go
  tools/integration_tests/local_file/rename.go
  tools/integration_tests/streaming_writes/move_file_test.go
Labels: execute-integration-tests

#2965 upgrade to golang 1.23.5
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test

#2967 Enable OTel by default
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  perfmetrics/scripts/vm_metrics/vm_metrics.py
  perfmetrics/scripts/vm_metrics/vm_metrics_test.py
Labels: execute-perf-test, execute-integration-tests

#2968 Persist logs in read_cache test
  tools/integration_tests/managed_folders/admin_permissions_test.go
  tools/integration_tests/managed_folders/view_permissions_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_true_test.go
  tools/integration_tests/read_cache/disabled_cache_ttl_test.go
  tools/integration_tests/read_cache/job_chunk_test.go
  tools/integration_tests/read_cache/local_modification_test.go
  tools/integration_tests/read_cache/range_read_test.go
  tools/integration_tests/read_cache/read_only_test.go
  tools/integration_tests/read_cache/remount_test.go
  tools/integration_tests/read_cache/small_cache_ttl_test.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2971 Maintain readType for random reader
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_stretchr_test.go
Labels: execute-perf-test, execute-integration-tests

#2992 making sure that benchmarking tests are run for periodic tests only
  tools/integration_tests/benchmarking/benchmark_delete_test.go
  tools/integration_tests/benchmarking/benchmark_rename_test.go
  tools/integration_tests/benchmarking/benchmark_stat_test.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#2974 Use grpc client always for zonal buckets in e2e tests
  tools/integration_tests/readonly/readonly_test.go
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#2978 Fix performance degradation due to metrics
  common/noop_metrics.go
  common/oc_metrics.go
  common/otel_metrics.go
  common/telemetry.go
  internal/monitor/bucket.go
Labels: execute-perf-test, execute-integration-tests

#2937 Added new tests for streaming writes flow
  tools/integration_tests/local_file/edit_file_test.go
  tools/integration_tests/streaming_writes/read_file_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/write_large_files/concurrent_write_to_same_file_test.go
  tools/integration_tests/write_large_files/write_large_files_test.go
Labels: execute-integration-tests

#2993 Reducing the number of metric updates
  internal/monitor/bucket.go
  internal/monitor/full_read_closer.go
  internal/monitor/full_read_closer_test.go
Labels: execute-perf-test, execute-integration-tests

#2988 Add Streaming Writes failure scenario tests for local files.
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/second_chunk_upload_returns412.yaml
  tools/integration_tests/emulator_tests/streaming_writes_failure/local_file_failure_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/streaming_writes_failure_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall/write_stall_test.go
  tools/integration_tests/emulator_tests/write_stall/writes_stall_on_sync_test.go
  tools/integration_tests/util/client/storage_client.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests, streaming-writes

#2995 Turn on the flag for Move object
  cfg/config.go
  cfg/params.yaml
Labels: execute-integration-tests

#2997 Add integration tests for read stall retries
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/read_stall_5s.yaml
  tools/integration_tests/emulator_tests/proxy_server/configs/write_stall_40s.yaml
  tools/integration_tests/emulator_tests/read_stall/read_stall_test.go
  tools/integration_tests/emulator_tests/read_stall/setup_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
Labels: execute-integration-tests

#3015 Use different ports for Prometheus metrics tests
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-integration-tests

#3021 Run monitoring tests in installed_package mode
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-integration-tests

#3011 Add failure scenario integration tests for empty gcs file for streaming writes.
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/configs/empty_gcs_file_2nd_chunk_upload_returns412.yaml
  tools/integration_tests/emulator_tests/proxy_server/configs/local_file_2nd_chunk_upload_returns412.yaml
  tools/integration_tests/emulator_tests/streaming_writes_failure/common_failure_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/empty_gcs_file_failure_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/new_local_file_failure_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/streaming_writes_failure_test.go
Labels: execute-integration-tests, streaming-writes

#3013 fix write large file tests
  tools/integration_tests/log_content/file_upload_log_test.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/write_large_files/concurrent_write_files_test.go
  tools/integration_tests/write_large_files/concurrent_write_to_same_file_test.go
  tools/integration_tests/write_large_files/random_write_large_file_test.go
  tools/integration_tests/write_large_files/seq_write_large_file_test.go
  tools/integration_tests/write_large_files/write_large_files_test.go
Labels: execute-integration-tests

#3028 Start using random port for proxy server and run test packages in parallel.
  tools/integration_tests/emulator_tests/emulator_tests.sh
  tools/integration_tests/emulator_tests/proxy_server/main.go
  tools/integration_tests/emulator_tests/read_stall/read_stall_test.go
  tools/integration_tests/emulator_tests/read_stall/setup_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/common_failure_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/streaming_writes_failure_test.go
  tools/integration_tests/emulator_tests/util/test_helper.go
  tools/integration_tests/emulator_tests/write_stall/write_stall_test.go
  tools/integration_tests/emulator_tests/write_stall/writes_stall_on_sync_test.go
  tools/integration_tests/util/client/storage_client.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests

#3042 fix TestReadIsTreatedNonSequentialAfterFileIsRemovedFromCache on arm64 architecture
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
Labels: execute-integration-tests

#3043 Upgrade fuse module
  go.mod
  go.sum
Labels: execute-integration-tests

#3006 Upgrade to golang 1.24.0
  .github/workflows/ci.yml
  .github/workflows/flake-detector.yml
  Dockerfile
  go.mod
  perfmetrics/scripts/ml_tests/pytorch/run_model.sh
  perfmetrics/scripts/ml_tests/tf/resnet/setup_scripts/setup_container.sh
  perfmetrics/scripts/presubmit_test/pr_perf_test/build.sh
  perfmetrics/scripts/read_cache/setup.sh
  tools/cd_scripts/e2e_test.sh
  tools/containerize_gcsfuse_docker/Dockerfile
  tools/integration_tests/run_e2e_tests.sh
  tools/package_gcsfuse_docker/Dockerfile
Labels: execute-perf-test, execute-integration-tests

#3033 Run stale handle and streaming writes package tests with and without GRPC flag.
  tools/integration_tests/stale_handle/setup_test.go
  tools/integration_tests/streaming_writes/default_mount_test.go
  tools/integration_tests/streaming_writes/streaming_writes_test.go
Labels: execute-integration-tests, streaming-writes
