Repository GoogleCloudPlatform/gcsfuse, pull requests merged in 2025-04, with the labels that each got.

#3123 create new inode on change in length
  internal/fs/fs.go
  internal/fs/inode/explicit_dir.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  internal/fs/inode/inode.go
  internal/fs/inode/inode_test.go
  internal/fs/inode/symlink.go
Labels: streaming-writes

#3121 Use new writer flush before reads for zonal buckets with streaming writes.
  internal/fs/handle/file.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
Labels: streaming-writes, execute-integration-tests-on-zb

#3142 Clean up the remnants of config-cli-parity
  tools/mount_gcsfuse/main.go
  tools/mount_gcsfuse/main_test.go
Labels: execute-integration-tests

#3148 fix package pass/fail log in run_e2e_tests.sh
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#3153 [Random Reader Refactoring] Create hidden flag to enable new implementation
  cfg/config.go
  cfg/params.yaml
  cmd/root_test.go
Labels: execute-integration-tests

#3152 Update GCSFuse External Benchmarks with version 2.11.1
  docs/benchmarks.md
Labels: automerge: exact

#3118 Optimize default values on a high performance nodes
  .github/workflows/ci.yml
  cfg/config.go
  cfg/optimize.go
  cfg/optimize_test.go
  cfg/params.yaml
Labels: execute-integration-tests, hns-integration

#3141 Remove OpenCensus support for metrics
  cmd/legacy_main.go
  common/oc_metrics.go
  common/otel_metrics.go
Labels: execute-integration-tests

#3163 Remove e2e package log_content and all refs to it
  tools/cd_scripts/e2e_test.sh
  tools/integration_tests/log_content/file_upload_log_test.go
  tools/integration_tests/log_content/log_content_test.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests, execute-integration-tests-on-zb

#3110 cd script changes to run zb tests only based on flag passed
  tools/cd_scripts/e2e_test.sh
Labels: automerge: exact

#3164 Remove enable-otel flag
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/metrics_config/enable_otel_false.yml
  cmd/testdata/metrics_config/enable_otel_true.yml
  tools/integration_tests/monitoring/prom_test.go
Labels: execute-integration-tests

#3167 Remove OpenCensus exporters
  cfg/config.go
  cfg/params.yaml
  go.mod
  go.sum
  internal/monitor/exporter.go
Labels: execute-integration-tests

#3155 Fix and enable package list_large_dir in ZB e2e tests
  tools/integration_tests/list_large_dir/list_dir_with_twelve_thousand_files_test.go
  tools/integration_tests/list_large_dir/list_large_dir_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests-on-zb

#3169 [Random Reader Refactoring] Convert error message consts in error variable
  internal/cache/file/cache_handle.go
  internal/cache/file/cache_handle_test.go
  internal/cache/file/cache_handler.go
  internal/cache/file/cache_handler_test.go
  internal/cache/file/downloader/job.go
  internal/cache/file/downloader/job_test.go
  internal/cache/lru/lru.go
  internal/cache/lru/lru_test.go
  internal/cache/util/util.go
  internal/cache/util/util_test.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_test.go
Labels: execute-integration-tests

#3143 Fix and enable package implicit_dir in e2e tests for rapid buckets
  tools/integration_tests/implicit_dir/delete_test.go
  tools/integration_tests/implicit_dir/list_test.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/util/setup/implicit_and_explicit_dir_setup/implicit_and_explicit_dir_setup.go
Labels: execute-integration-tests-on-zb

#3176 Enable e2e package concurrent_operations for ZB
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests-on-zb

#3177 Fix: grpc_validation test suite should be skipped in presubmits
  tools/integration_tests/grpc_validation/setup_test.go
  tools/integration_tests/util/operations/file_operations.go
Labels: execute-integration-tests

#3180 fix read large file tests
  tools/integration_tests/util/operations/file_operations.go
Labels: execute-integration-tests

#3119 Integrate default values functionality
  cfg/constants.go
  cfg/rationalize.go
  cfg/rationalize_test.go
  cmd/root.go
  cmd/root_test.go
Labels: execute-integration-tests, hns-integration

#3181 CloseFile should not exit the tests
  internal/fs/stale_file_handle_common_test.go
  tools/integration_tests/emulator_tests/streaming_writes_failure/common_failure_test.go
  tools/integration_tests/kernel_list_cache/disabled_kernel_list_cache_test.go
  tools/integration_tests/kernel_list_cache/finite_kernel_list_cache_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_delete_dir_test.go
  tools/integration_tests/kernel_list_cache/infinite_kernel_list_cache_test.go
  tools/integration_tests/local_file/remove_dir.go
  tools/integration_tests/local_file/sym_link.go
  tools/integration_tests/local_file/unlinked_file.go
  tools/integration_tests/managed_folders/list_empty_managed_folders_test.go
  tools/integration_tests/managed_folders/test_helper.go
  tools/integration_tests/operations/copy_dir_test.go
  tools/integration_tests/operations/delete_file_test.go
  tools/integration_tests/operations/move_file_test.go
  tools/integration_tests/operations/read_test.go
  tools/integration_tests/operations/write_test.go
  tools/integration_tests/read_cache/cache_file_for_range_read_false_test.go
  tools/integration_tests/read_gcs_algo/concurrent_read_same_file_test.go
  tools/integration_tests/rename_dir_limit/move_dir_test.go
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_common_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_empty_gcs_file_test.go
  tools/integration_tests/streaming_writes/symlink_file_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/client/storage_client.go
  tools/integration_tests/util/operations/dir_operations.go
  tools/integration_tests/util/operations/file_operations.go
  tools/integration_tests/util/setup/implicit_and_explicit_dir_setup/implicit_and_explicit_dir_setup.go
Labels: execute-integration-tests

#3204 add unfinalized object operations tests
  internal/fs/stale_file_handle_common_test.go
  internal/fs/stale_file_handle_streaming_writes_common_test.go
  internal/fs/stale_file_handle_streaming_writes_local_file_test.go
  internal/fs/stale_file_handle_streaming_writes_synced_file_test.go
  internal/fs/stale_file_handle_synced_file_test.go
  tools/integration_tests/local_file/create_file.go
  tools/integration_tests/local_file/read_dir.go
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/stale_handle/stale_file_handle_common_test.go
  tools/integration_tests/stale_handle/stale_file_handle_synced_file_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_common_test.go
  tools/integration_tests/stale_handle_streaming_writes/stale_file_handle_streaming_writes_empty_gcs_file_test.go
  tools/integration_tests/streaming_writes/rename_file_test.go
  tools/integration_tests/unfinalized_object/setup_test.go
  tools/integration_tests/unfinalized_object/unfinalized_object_operations_test.go
  tools/integration_tests/util/client/gcs_helper.go
  tools/integration_tests/util/client/storage_client.go
  tools/integration_tests/util/operations/validation_helper.go
Labels: execute-integration-tests-on-zb

#3205 add zonal buckets to periodic/presubmit checkpoint tests
  perfmetrics/scripts/ml_tests/checkpoint/Jax/run_checkpoints.sh
Labels: execute-checkpoint-test

#3199 Start running streaming_writes package for ZB.
  tools/integration_tests/run_e2e_tests.sh
  tools/integration_tests/streaming_writes/default_mount_empty_gcs_file_test.go
  tools/integration_tests/streaming_writes/default_mount_local_file_test.go
  tools/integration_tests/streaming_writes/default_mount_test.go
  tools/integration_tests/streaming_writes/read_file_test.go
  tools/integration_tests/streaming_writes/rename_file_test.go
  tools/integration_tests/streaming_writes/symlink_file_test.go
  tools/integration_tests/util/operations/file_operations.go
Labels: execute-integration-tests, execute-integration-tests-on-zb

#3201 Make MRDWrapper store copy of MinObject from inode to prevent data race.
  internal/fs/inode/file.go
  internal/fs/inode/file_test.go
Labels: execute-integration-tests

#3126 Enable Read Stall Retry by default
  cfg/config.go
  cfg/params.yaml
  cmd/config_validation_test.go
  cmd/root_test.go
  cmd/testdata/valid_config.yaml
Labels: execute-perf-test, execute-integration-tests

#3209 [Random reader refactoring] File cache reader implementation - 2
  internal/cache/util/util.go
  internal/cache/util/util_test.go
  internal/gcsx/file_cache_reader.go
  internal/gcsx/file_cache_reader_test.go
  internal/gcsx/random_reader.go
  internal/gcsx/random_reader_stretchr_test.go
  internal/gcsx/random_reader_test.go
  internal/gcsx/temp_file.go
Labels: execute-integration-tests

#3211 Changes in mount_timeout package for ZB E2E
  tools/integration_tests/mount_timeout/gcsfuse_mount_timeout_test.go
  tools/integration_tests/mount_timeout/mount_timeout_test.go
Labels: execute-integration-tests-on-zb

#3218 Save gcsfuse logs for streaming writes package for easier debugging.
  tools/integration_tests/streaming_writes/buffer_size_test.go
  tools/integration_tests/streaming_writes/default_mount_test.go
  tools/integration_tests/util/setup/setup.go
Labels: execute-integration-tests-on-zb

#3225 TPC support with HNS buckets
  internal/storage/storage_handle.go
  tools/integration_tests/run_e2e_tests.sh
Labels: execute-integration-tests

#3232 upgrade go SDK version to 1.52.0
  go.mod
  go.sum
  internal/storage/bucket_handle.go
  tools/integration_tests/util/client/storage_client.go
Labels: execute-integration-tests

#3198 Ensure correct size of min object in fileInode and Random Reader
  internal/fs/handle/file.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
Labels: execute-integration-tests

#3245 Fix error handing with gcsFullReadCloser
  internal/monitor/full_read_closer.go
  internal/monitor/full_read_closer_test.go
Labels: execute-integration-tests

#3230 fix: Return complete object on flush writer
  internal/bufferedwrites/buffered_write_handler.go
  internal/bufferedwrites/buffered_write_handler_test.go
  internal/bufferedwrites/upload_handler.go
  internal/bufferedwrites/upload_handler_test.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/gcsx/prefix_bucket.go
  internal/monitor/bucket.go
  internal/ratelimit/throttled_bucket.go
  internal/storage/bucket_handle.go
  internal/storage/caching/fast_stat_bucket.go
  internal/storage/caching/fast_stat_bucket_test.go
  internal/storage/debug_bucket.go
  internal/storage/fake/bucket.go
  internal/storage/gcs/bucket.go
  internal/storage/mock/testify_mock_bucket.go
  internal/storage/mock_bucket.go
  internal/storage/testify_mock_bucket.go
  tools/integration_tests/streaming_writes/rename_file_test.go
Labels: streaming-writes, execute-integration-tests-on-zb

#3246 fix: promote zonal object to generation backed inode on sync
  internal/fs/handle/file.go
  internal/fs/inode/file.go
  internal/fs/inode/file_streaming_writes_test.go
  internal/fs/inode/file_test.go
  tools/integration_tests/streaming_writes/rename_file_test.go
Labels: execute-integration-tests, execute-integration-tests-on-zb

#3247 Remove setting streaming writes by default for high end machines
  cfg/optimize.go
  cfg/optimize_test.go
  cmd/root_test.go
Labels: execute-integration-tests, hns-integration
